
<app-default-login-layout
    title="Acesse seu perfil de psicólogo"
    primaryBtnText="Entrar"
    secondaryBtnText="Quero fazer parte da equipe"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="E-mail:"
            placeholder="seuemail@email.com"
        >
        <i class="bi bi-envelope" style="color: #FFF"></i>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha:"
        >
        <i class="bi bi-key" style="color: #FFF"></i>
    </app-primary-input>
    <span>Esqueceu a senha?</span>
    </form>
</app-default-login-layout>