.navbar-custom {
  background-color: white;
}

.navbar-nav {
  background-color: #4B67B1;
  border-radius: 8px;
  margin-right: 5%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center; /* Centraliza verticalmente cada item */
}

.navbar-nav .nav-link {
  color: white !important;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.71px;
  padding: 10px 15px; /* Adiciona um pouco de padding para melhor aparência */
}

.navbar-toggler {
  margin-left: auto; /* Empurra o botão toggler para a direita */
}