<div class="col-md-10 offset-md-1">
    <div class="gestaoDeProjetos">
        <h1 class="titulo">GESTÃO DE PROCESSOS</h1>
        <p class="paragrafo">Gestão de Processos é um conceito que une gestão de negócios e tecnologia da informação.
            O principal foco dessa metodologia é a remodelação dos processos do negócio para a otimização dos resultados
            nas empresas.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/GESTAO-DE-PROCESSOS.webp" alt="GESTÃO DE PROCESSOS" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="GESTÃO DE PROCESSOS">
        </div>
    </div>

    <div class="gestaoFinanciera">
        <h1 class="titulo">GESTÃO FINANCEIRA</h1>
        <p class="paragrafo">Uma gestão financeira eficiente garante para sua empresa uma estrutura equilibrada e estabilidade das operações assegurando a existência dos capitais financeiros essenciais para o funcionamento do negócio.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/GESTAO-FINANCEIRA.webp" alt="GESTÃO FINANCEIRA" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="GESTÃO DE PROCESSOS">
        </div>
    </div>

    <div class="gestaoFinanciera">
        <h1 class="titulo">GESTÃO EMPRESARIAL</h1>
        <p class="paragrafo">A gestão empresarial busca estratégias para melhorar a competitividade e produtividade da empresa.
            Uma gestão eficiente considera que para se ter bons resultados é fundamental considerar os seguintes fatores: planejamento, organização e uma boa comunicação entre os administradores e empregados.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/GESTAO-EMPRESARIAL.webp" alt="GESTÃO FINANCEIRA" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="GESTÃO DE PROCESSOS">
        </div>
    </div>
</div>