.card {
    align-content: center;
    align-items: center;
    text-align: center;
    border-color: transparent;
    box-shadow: none;
    background: #2BC4B65E;
}

i {
    font-size: 80px;
    color: #4B67B1;
}

.card-title{
    font-size: 13px;
    color: #4B67B1;
}

.menu {
    margin-top: 10%;
}

.conteudo {
    margin-bottom: 15%;
    justify-content: center;
}

.card-group {
    margin-top: 3%;
}

.titulo {
    margin-top: 3%;
    color: #49654E;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    text-align: -webkit-center;
    ;
}

.linha {
    margin: 0 auto;
    /* Define margens automáticas horizontalmente */
    margin-top: 3%;
    width: 15%;
    height: 1px;
    /* Altura da linha */
    background-color: #49654E;
    /* Cor da linha */
}

.formulario {
    margin-top: 3%;
}

.input {
    margin-bottom: 2%;
}

a:hover{
    cursor: pointer;
}