<div class="convenio">
    <div class="col-md-9 offset-md-2">

        <div class="container">
            <br/>
            <br/>
            <br/>
            <h1 class="titulo"> CONVÊNIOS </h1>
            <p class="texto col-md-11">
                Uma das questões que pode pesar na tomada de decisão para fazer terapia é o investimento
                financeiro. Entendemos a importância do acesso facilitado aos serviços de saúde mental e a
                diferença que um suporte psicológico qualificado pode fazer em sua vida. É por isso que, na Zack
                você também pode usufruir dos nossos serviços psicológicos por meio dos convênios.
            </p>
            <br/>
            <br/>
            <div class="centered-div col-md-11">
                <h3 class="titulo2"> DESCUBRA AQUI OS CONVÊNIOS ACEITOS: </h3>
                <div class="row offset-md-1">
                    <div class="col-sm-4">
                        <li>AGF-ALLIANZ</li>
                        <li>BACEN</li>
                        <li>CAMARA</li>
                        <li>CODEVASF</li>
                        <li>E-VIDA/ELETRONORTE</li>
                        <li>FASCAL</li>
                        <li>FUSEX</li>
                        <li>CONAB</li>
                        <li>GAMA</li>
                    </div>
                    <div class="col-sm-4">
                        <li>GDF INAS</li>
                        <li>PF</li>
                        <li>PLAN ASSISTE</li>
                        <li>PF SAÚDE</li>
                        <li>PROASA</li>
                        <li>POSTAL SAÚDE</li>
                        <li>SAÚDE CAIXA</li>
                        <li>SIS</li>
                        <li>STF</li>
                        <li>STM</li>
                        <br/>
                    </div>
                    <div class="col-sm-4">
                        <li>SERPRO</li>
                        <li>TJDFT</li>
                        <li>TRE***</li>
                        <li>TJDFT</li>
                        <li>TRF</li>
                        <li>TRT</li>
                        <li>TST</li>
                        <li>UNAFISCO</li>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn saibaMais" (click)='whatsApp("https://wa.me/5561982607070?text=Ol%C3%A1!%0AGostaria%20de%marcar%20uma%20consulta.")'>Entre em contato <i
            class="bi bi-whatsapp" style="font-size: 21px; color: white; margin-left: 2%;"></i></button>
    <br/>
    <br/>
</div>