<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="col-md-8 offset-md-2">
    <div class="comoFunciona">
        <h1 class="titulo">Política de Privacidade</h1>
        <h3 class="sub-titulo">1. Introdução</h3>
        <p class="texto" style="text-align: justify;">
            Zack Desenvolvimento Humano e Organizacional, inscrita no CNPJ/MF sob o nº 14.085.460/0001-74, com sede no
            Distrito Federal, na cidade de Brasília, no SRTVS Quadra 701 Bloco "O", Sala 466 - Ed. Multi Empresarial,
            CEP 70340-000 ("Zack"), é responsável pela plataforma doravante denominada Zack, acessível em <a
                href="https://www.zackdesenvolvimento.com.br/" target="_blank"
                style="color: #4B67B1;">https://www.zackdesenvolvimento.com.br</a>. Esta Política de Privacidade
            estabelece como as informações dos usuários e psicólogos são coletadas, usadas e compartilhadas quando
            acessam ou usam nossos serviços.
            <br>
        </p>
        <h3 class="sub-titulo">2. Coleta de Dados</h3>
        <p class="texto" style="text-align: justify;">
            Coletamos informações que você nos fornece diretamente, como dados pessoais ao criar uma conta, agendar
            consultas ou interagir com outros usuários através da plataforma. Isso inclui nome, e-mail, número de
            telefone, dados de pagamento e qualquer outra informação que você escolha fornecer.
            <br>
            <br>
            Ao usar nossa plataforma, também coletamos informações automaticamente sobre seu dispositivo e uso de nossos
            serviços, incluindo endereço IP, detalhes do navegador, e páginas visitadas. Utilizamos cookies e
            tecnologias similares para coletar informações sobre a sua interação com nosso site e nossos e-mails.
            <br>
        </p>

        <h3 class="sub-titulo">3. Uso das Informações</h3>
        <p class="texto" style="text-align: justify;">
            Utilizamos as informações coletadas para:
            <br>
        </p>
        <ul style="text-align: left;">
            <li>Fornecer, manter e melhorar nossos serviços; </li>
            <li>Processar transações e enviar notificações relacionadas ao seu uso da Zack; </li>
            <li>Comunicar sobre produtos, serviços, ofertas, promoções e eventos oferecidos pela Zack e outros que
                acreditamos ser de seu interesse; </li>
            <li>Monitorar e analisar tendências, uso e atividades relacionadas à nossa plataforma;</li>
            <li>Detectar, investigar e prevenir transações fraudulentas e outras atividades ilegais e proteger os
                direitos e propriedades da Zack e outros.</li>
        </ul>

        <h3 class="sub-titulo">4. Compartilhamento de Informações</h3>
        <p class="texto" style="text-align: justify;">
            Podemos compartilhar informações pessoais com terceiros prestadores de serviços que nos ajudam a operar
            nossa plataforma, processar pagamentos, realizar análises estatísticas e enviar comunicações para você.
            Estes terceiros acessam suas informações pessoais somente para executar essas tarefas em nosso nome e são
            obrigados a protegê-las e usá-las apenas conforme instruído por nós.
        </p>

        <h3 class="sub-titulo">5. Segurança</h3>
        <p class="texto" style="text-align: justify;">
            A Zack toma medidas para proteger suas informações pessoais contra perda, roubo e uso não autorizado,
            divulgação ou modificação. No entanto, nenhum sistema de segurança é impenetrável e não podemos garantir a
            segurança de nossas informações completamente.
        </p>

        <h3 class="sub-titulo">6. Alterações na Política de Privacidade </h3>
        <p class="texto" style="text-align: justify;">
            Podemos atualizar esta política de privacidade de tempos em tempos para refletir, por exemplo, mudanças em
            nossas práticas ou por outras razões operacionais, legais ou regulatórias.
            <br>
        </p>
        <h3 class="sub-titulo">7. Contato</h3>
        <p class="texto" style="text-align: justify;">
            Para mais informações sobre nossa política de privacidade, se você tiver dúvidas, ou se gostaria de fazer
            uma reclamação, entre em contato conosco pelo email <a href="mailto:atendimentozack@gmail.com" style="color: #4B67B1;">atendimentozack&#64;gmail.com</a> ou pelos meios
            disponibilizados em nossa plataforma.
        </p>
    </div>
</div>