<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="col-md-10 offset-md-1">
    <div class="comoFunciona">
        <h1 class="titulo">Política de privacidade</h1>
        <p class="texto" style="text-align: justify;">
            A <b>Zack</b>, com sede administrativa no <b>Setor Srtvs, 701, Bloco O Sala 466 Edif Multiempresarial - Brasília-DF</b>, inscrita no <b>CNPJ</b> sob o nº <b>14.085.460/0001-74</b>, é a entidade responsável pelo tratamento dos dados pessoais coletados através de seu site.
            Priorizamos a proteção, segurança e privacidade dos dados pessoais dos nossos usuários, o que é de suma importância para nós.
            O propósito desta Política de Privacidade é assegurar os mais elevados padrões de integridade para o usuário online, doravante denominado "Usuário".
            <br>Ao utilizar nosso site, o Usuário concorda, de forma integral e incondicional, com os termos estabelecidos nesta Política de Privacidade e no Termo de Uso.
            <br>Comprometemo-nos com o respeito à privacidade do Usuário na internet, adotando todas as medidas necessárias para proteger as informações pessoais fornecidas, em conformidade com a legislação vigente.
            <br>
            <br>
            <b>Coleta de Dados</b>
            <br>
            <br>
            Os dados são coletados quando o Usuário preenche qualquer formulário no site, como, por exemplo, ao agendar uma consulta. Informações pessoais, tais como nome, e-mail e telefone, são tratadas como confidenciais e não serão compartilhadas com terceiros.
            Além disso, o site pode coletar dados não pessoais dos visitantes, como data e hora de acesso, páginas visitadas, sistema operacional utilizado, resolução de tela, IP, navegador, entre outros, que serão tratados como informações não confidenciais e sem proteção por direitos de propriedade.
            <br>
            <br>
            <b>Segurança dos Dados</b>
            <br>
            <br>
            Adotamos a criptografia de dados por meio do certificado de segurança SSL para garantir a segurança das informações coletadas. Os dados são armazenados em uma base de dados segura e são de uso exclusivo da Zack.
            Realizamos monitoramento contínuo dos acessos aos nossos sistemas de tecnologia da informação com o objetivo de prevenir, detectar e impedir qualquer uso indevido dos dados pessoais.
            <br>
            <br>
            <b>Compartilhamento de Dados Pessoais</b>
            <br>
            <br>
            O Consultório Virtual Zack não compartilha os dados pessoais dos usuários com terceiros, sob nenhuma circunstância.
            <br>
            <br>
            <b>Contato</b>
            <br>
            <br>                                                                                                                                          
            Para questões relativas à privacidade e segurança dos seus dados, entre em contato conosco pelo e-mail atendimentozack&#64;gmail.com, e nos comprometemos a responder prontamente.
            Esta Política de Privacidade reflete nosso compromisso em proteger a privacidade e os dados dos nossos usuários, mantendo a transparência e a confiança em todos os nossos serviços.
        </p>

    </div>
</div>