<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
    <div class="background-image-container">
        <img src="../../../assets/hand-tapping-tablet-with-map 1.png" alt="Cinque Terre">
        <div class="center col-md-10 offset-md-1">
            <h1 class="titulo-foto">
                ATENDIMENTO PRESENCIAL
            </h1>
        </div>
    </div>
    <div class="row" style="margin: 3%;">
        <div class="col-md-6">
            <p class="descricao" style="padding: 0%; text-align: left;">
                A Zack também oferece a opção de atendimento presencial em nosso consultório localizado na Asa Sul.
                <br/>
                <br/>
                Para agendar sua consulta presencial, entre em contato conosco via WhatsApp, telefone ou email. Nossa equipe estará disponível para ajudá-lo(a) a encontrar o melhor horário para sua consulta e responder a quaisquer perguntas que você possa ter.
            </p>
            <button type="button" class="btn saibaMais" style="margin-top: 3%;">Entre em Contato <i class="bi bi-caret-right-fill" style="font-size: 20px;
                color: gray;"></i></button>
        </div>
        <div class="col-md-6" >
            <app-mapa></app-mapa>
            <p style="padding: 0%; text-align: left; font-size: 12px;">RTS Quadra 701 Bloco O Ed Multiempresarial Sala 466 - Asa Sul, Brasília - DF, 70340-000</p>
        </div>
    </div>
    
</div>