<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="col-md-8 offset-md-2">
    <div class="comoFunciona">
        <h1 class="titulo">Termos de Uso</h1>
        <p class="texto" style="text-align: justify;">
            Zack - Desenvolvimento Humano e Organizacional, inscrita no CNPJ/MF sob o nº 14.085.460/0001-74, com sede no
            Distrito Federal, Cidade de Brasília, no SRTVS Quadra 701 Bloco "O". Sala 466 - Ed. Multi Empresarial (CEP -
            70340-000), é uma pessoa jurídica de direito privado, responsável pela plataforma doravante denominada Zack.
            <br>
            <br>
            Por intermédio destes Termos e Condições Gerais de Uso (“Termos”), a Zack apresenta aos usuários
            (“Usuários”) e psicólogos cadastrados e psicólogos que naveguem em sua Plataforma (“Psicólogos”) as
            condições essenciais para o uso dos serviços oferecidos na Plataforma.
            <br>
            <br>
            Ao utilizar a Plataforma ou os serviços ofertados pela Zack, os Usuários e Psicólogos aceitam e se submetem
            às condições destes Termos e às Políticas de Privacidade, bem como a todos os documentos anexos a estes.
            <br>
        </p>
        <h3 class="sub-titulo">1. Objetivo</h3>
        <p class="texto" style="text-align: justify;">
            A Zack emerge como uma plataforma digital que facilita o encontro entre Usuários e Psicólogos devidamente
            registrados para a realização de consultas online e presenciais, bem como para a gestão de agendamentos e
            transações financeiras relacionadas. Por meio da Plataforma, os Usuários têm a liberdade de procurar e
            agendar consultas com Psicólogos devidamente cadastrados na Plataforma (“psicólogos”), por meio do endereço
            eletrônico
            <a href="https://www.zackdesenvolvimento.com.br/" target="_blank"
                style="color: #4B67B1;">https://www.zackdesenvolvimento.com.br</a>
            <br>
            <br>
            A Zack se propõe a ir além, transformando-se em uma verdadeira comunidade para profissionais da psicologia.
            Dentro dessa comunidade, Psicólogos terão à disposição na Plataforma um espaço dedicado à supervisão e ao
            aprimoramento profissional, onde poderão compartilhar conhecimentos, experiências e melhores práticas. Esse
            ambiente será enriquecido com recursos para capacitações, workshops e webinars, visando o desenvolvimento
            contínuo dos profissionais. A iniciativa visa não apenas melhorar a qualidade do atendimento oferecido aos
            Usuários, mas também fomentar o crescimento e a evolução constante dos Psicólogos, fortalecendo a prática
            psicológica através da troca de saberes e da formação contínua.
            <br>
            <br>
            Os Psicólogos, por sua vez, se responsabilizam e se asseguram do sigilo e da privacidade exigidos pelo
            Código de Ética Profissional do psicólogo, viabilizando que os Usuários tenham acesso aos serviços de
            psicoterapia independentemente do local onde estejam.
            <br>
            <br>
            A Zack recomenda que os psicólogos consultem com frequência o Código de Ética Profissional do Psicólogo,
            disponível em <a href="http://site.cfp.org.br" target="_blank"
                style="color: #4B67B1;">http://site.cfp.org.br</a>, assim como as demais resoluções ou orientações que
            forem aplicáveis.
            <br>
            <br>
            Os psicólogos são os únicos responsáveis pela veracidade e exatidão de suas informações, conteúdo e dos
            valores a serem cobrados por suas consultas, bem como de seu método de trabalho, de forma que a Zack se
            exime de eventual responsabilidade em razão de cancelamento, atraso, mudança de data ou horário de consulta,
            ou qualquer outro dano moral ou material ao Usuário, ao qual não tiver dado causa.
            <br>
            <br>
            O pagamento da Consulta por parte dos Usuários deverá ser efetivado necessariamente por meio da Plataforma
            em conjunto com o Sistema de Pagamento via cartão de crédito, cartão de débito, PIX, boleto bancário ou
            transferência bancária (DOC/TED), para a Zack - Desenvolvimento Humano e Organizacional, inscrita no CNPJ/MF
            sob o nº 14.085.460/0001-74, com sede no Distrito Federal, Cidade de Brasília, no SRTVS Quadra 701 Bloco
            "O". Sala 466 - Ed. Multi Empresarial (CEP - 70340-000),
            <br>
            <br>
            Ao se cadastrar, o Psicólogo poderá utilizar todos os serviços disponibilizados na Plataforma, disponíveis
            para a sua região, declarando, para tanto, ter lido, compreendido e aceitado os Termos.
        </p>

        <h3 class="sub-titulo">2. Cadastro</h3>
        <p class="texto" style="text-align: justify;">
            2.1. Elegibilidade
            <br>
            O Profissional deve estar ciente de que apenas poderá efetuar seu registro como Psicólogo na plataforma se
            possuir as devidas autorizações do Conselho Federal de Psicologia (CFP) e do Conselho Regional de Psicologia
            (CRP) da jurisdição onde atua. O Psicólogo é responsável por qualquer ação ou omissão, incluindo fraudes,
            que execute por meio desta plataforma, sujeitando-se às consequências legais em âmbito cível, criminal e
            administrativo frente à Zack, aos usuários, órgãos reguladores e demais terceiros.
            <br>
            <br>
            Ao utilizar a Zack, o psicólogo confirma sua capacidade legal para realizar atos civis e reconhece estar
            ciente sobre as penalidades legais previstas no Código Civil.
            <br>
            <br>
            A plataforma proíbe expressamente a criação de múltiplos cadastros por um único psicólogo. Se identificada a
            existência de vários registros para um mesmo profissional, a Zack se reserva o direito de desativar todos os
            cadastros, sem a necessidade de notificação prévia ou consentimento do psicólogo, e de bloquear a criação de
            novos cadastros associados a esses registros.
            <br>
            <br>
            O registro na plataforma não está disponível para indivíduos menores de 18 anos, mesmo que já tenham
            concluído a formação em Psicologia. Igualmente, não serão aceitos registros de profissionais que não estejam
            devidamente registrados junto ao Conselho Federal de Psicologia e ao Conselho Regional de Psicologia.
            <br>
            <br>
            2.2 Cadastro
            <br>
            Qualquer usuário pode pesquisar, navegar e visualizar os profissionais da Zack, horário e data de
            agendamento sem registrar-se na Plataforma.
            <br>
            <br>
            O Psicólogo é responsável e se compromete a prover somente informações verdadeiras, exatas e autênticas e a
            mantê-las atualizadas enquanto estiver utilizando a Plataforma ou serviços da Zack. Os Psicólogos garantem e
            respondem, em qualquer caso, civil e/ou criminalmente, pela veracidade, exatidão e autenticidades dos Dados
            Pessoais cadastrados.
            <br>
            <br>
            A Zack se reserva o direito de verificar e avaliar as credenciais e experiência dos Psicólogos de acordo com
            os parâmetros e critérios definidos internamente. Dessa forma, os Psicólogos declaram estar cientes que o
            envio do cadastro não confere a sua automática inclusão e aceitação na Plataforma. A Zack ocupa-se de fazer
            uma análise curricular e entrevista com o Psicólogo para avaliar a sua aceitação na Plataforma,
            reservando-se do direito de aprovar ou não sua inclusão. Ademais, a Zack se reserva no direito de cancelar
            um cadastro previamente aceito, a seu exclusivo critério e sem aviso prévio, não cabendo nenhuma indenização
            ou reparação por cancelamento de quaisquer cadastros ou de impossibilidade de cadastro.
            <br>
            <br>
            Os Psicólogos declaram estar cientes de que os dados e informações solicitados pela Zack possuem o intuito
            de realizar a correta e efetiva prestação de serviços disponibilizados pela Plataforma. Para mais
            informações sobre seus dados, recomendamos a leitura da Política de Privacidade da Zack.
            <br>
            <br>
            A Zack não se responsabiliza pela veracidade, exatidão, autenticidade ou atualização dos dados dos Usuários
            e/ou Psicólogos. Entretanto, a Zack se reserva no direito de utilizar todos os meios válidos e possíveis
            para identificar seus Usuários e/ou Psicólogos, bem como de solicitar dados adicionais e documentos que
            estime serem pertinentes a fim de conferir os dados pessoais informados.
            <br>
            <br>
            O Psicólogo se compromete a notificar a Zack imediatamente, por meio dos canais de atendimento, a respeito
            de qualquer suspeita ou constatação de uso não autorizado de sua conta. O Psicólogo será o único responsável
            pelas operações efetuadas em sua conta, uma vez que o acesso só será possível mediante a utilização de
            sistema de verificação com senha, que é exclusivo para sua conta.
        </p>

        <h3 class="sub-titulo">4. Do uso da imagem do profissional</h3>
        <p class="texto" style="text-align: justify;">
            O próprio psicólogo escolherá a imagem/foto que constará no seu perfil profissional na Plataforma, desde que
            estejam em conformidade com essa política. Enquanto o perfil do profissional estiver ativo, a foto do
            profissional permanecerá associada ao seu perfil e, portanto, aparecerá no site da Zack e eventualmente nas
            demais redes sociais da empresa, como também em divulgações, marketing e publicidade.
        </p>

        <h3 class="sub-titulo">5. Taxa de Serviço</h3>
        <p class="texto" style="text-align: justify;">
            Em razão dos custos da Zack com taxas relacionadas ao Sistema de Pagamento, impostos e demais despesas
            administrativas, bem como a necessidade de constantes melhorias na infraestrutura e funcionalidades da
            Plataforma, a Zack cobra uma taxa percentual sobre o valor total de cada consulta realizada pelo Psicólogo.
        </p>

        <h3 class="sub-titulo">6. Agendamento de Consultas</h3>
        <p class="texto" style="text-align: justify;">
            A Zack oferece um serviço de gestão de agendamento para visualização de datas e horários para agendamento
            com os Psicólogos, além de gestão de pagamento para as primeiras consultas de cada paciente, seja para
            consultas virtuais ou físicas. Ressalta-se, no entanto, que a Zack não tem qualquer ingerência sobre a
            disponibilidade dos psicólogos. Portanto, todas as informações sobre datas e horários são de
            responsabilidade, tão somente, do Psicólogo.
            <br>
            <br>
            Os perfis dos psicólogos serão apresentados no site, ao Usuário interessado, a partir dos critérios de busca
            abaixo:
            <br>
        </p>
        <ul style="text-align: left;">
            <li>Proximidade de localização a partir de um número de CEP ou da utilização de um geolocalizador;</li>
            <li>Realização de atendimento Online ou Presencial;</li>
            <li>Linha de atuação;</li>
            <li>Especialidade desejada;</li>
            <li>Valor cobrado pela consulta; e</li>
            <li>Avaliação/ Feedback</li>
        </ul>
        <p class="texto" style="text-align: justify;">
            Considerando os critérios de informação escolhidos pelo Usuário, será apresentada uma lista de psicólogos,
            indicando os dias e horários disponíveis, bem como o valor a ser cobrado pela consulta.
            <br>
            <br>
            O critério de ordenação dos psicólogos nas pesquisas da plataforma será definido única e exclusivamente pela
            Zack através de algoritmo que pode levar em consideração critérios como distância, disponibilidade de
            horário, avaliação, entre outros.
            <br>
            <br>
            O Usuário interessado em agendar o serviço, deverá se manifestar eletronicamente através da plataforma da
            Zack ou através dos canais de atendimento (email e whatsapp), informando se o agendamento é para o próprio
            Usuário ou se é para terceira pessoa e/ou dependente. No caso de terceira pessoa ou dependente, o Usuário
            informará na própria Plataforma os contatos deste e demais informações necessárias para que o mesmo possa
            participar da Consulta. Sendo que, a Zack não se responsabiliza pela veracidade, exatidão, autenticidade ou
            atualização dos dados informados.
            <br>
            <br>
            Após o agendamento do Usuário, o Psicólogo receberá notificação de agendamento através de mensagens
            eletrônicas (e-mail ou SMS ou WhatsApp).
            <br>
            <br>
            O psicólogo é responsável por seguir as normas e utilizar os meios eletrônicos recomendados pelo CFP,
            devidamente criptografados, para a realização das sessões Online/Virtuais.
            <br>
            <br>
            Quaisquer atrasos por parte do Usuário e/ou Psicólogo, seja para consultas físicas e/ou virtuais, será de
            responsabilidade tão somente da parte que deu causa, não sendo, portanto, a Zack responsável por eventuais
            perdas e danos suportados pela parte prejudicada pelo atraso.
        </p>
        <h3 class="sub-titulo">7. Política de Reagendamento e Cancelamento de Consulta</h3>
        <p class="texto" style="text-align: justify;">
            Os horários disponíveis de cada psicólogo são disponibilizados no site para marcação de consultas. É
            responsabilidade do Psicólogo manter seus horários disponíveis atualizados e informar à Zack em caso de
            alterações.
            <br>
            <br>
            Caso o psicólogo por motivos de força maior não consiga realizar a consulta agendada, o psicólogo deverá
            entrar em contato com o Usuário, com a máxima antecedência possível, justificando-se pelo motivo da
            remarcação e sugerindo uma nova data e horário para o atendimento. No caso do psicólogo não obter sucesso na
            remarcação, deverá informar ao Paciente e a Zack que o valor previamente pago será reembolsado pela Zack.
            <br>
            <br>
            O Usuário/Paciente poderá reagendar ou cancelar a consulta com até 24 horas de antecedência, com limite
            máximo de 2 reagendamentos. Caso os critérios acima não forem cumpridos, o Usuário não receberá o reembolso
            pela sessão.
        </p>

        <h3 class="sub-titulo">8. Pagamento dos Psicólogos e repasse dos valores</h3>
        <p class="texto" style="text-align: justify;">
            A Zack fará o repasse dos valores pagos pelas consultas ao Psicólogo durante o mês em um data previamente
            determinada, sendo estipulado um dia de corte por parte da Zack. a Zack cobra uma taxa percentual sobre o
            valor total de cada consulta realizada pelo Psicólogo, sendo assim, o repasse será feito considerando a taxa
            em questão. Os atendimentos que forem realizados após o dia de corte, serão pagos no 5º dia útil do mês
            subsequente.
            <br>
            <br>
            A Zack reserva-se o direito de modificar o Sistema de Pagamento utilizado pela Plataforma, a seu exclusivo
            critério e a qualquer tempo, avisando com antecedência o Psicólogo sobre eventual modificação.
        </p>

        <h3 class="sub-titulo">9. Avaliação dos Psicólogos</h3>
        <p class="texto" style="text-align: justify;">
            A Zack incentiva e possibilita que os Usuários/Pacientes ofereçam feedback de avaliação subjetiva de seus
            psicólogos, a fim de contribuir para a qualidade dos serviços prestados. Os critérios de avaliação são:
            <br>
        </p>
        <ul style="text-align: left;">
            <li>Pontualidade</li>
            <li>Ambiente (físico ou virtual)</li>
            <li>Profissionalismo</li>
            <li>Qualidade do atendimento</li>
            <li>Espaço aberto para comentários.</li>
        </ul>
        <p class="texto" style="text-align: justify;">
            O Usuário será o único e exclusivo responsável pelo Conteúdo dos comentários, devendo ater-se aos fatos,
            descrevendo sua opinião de maneira clara e honesta. A Zack se reserva no direito de excluir conteúdo caso
            seja inverídico, ofensivo, esteja em desacordo com a moral e os bons costumes.
            <br>
            <br>
            Ademais, o Psicólogo está ciente de que a Zack poderá entrar em contato caso a avaliação seja negativa,
            prezando pela qualidade dos serviços prestados. Em caso de reiteradas avaliações insatisfatórias, a Zack
            poderá optar por excluir o Psicólogo da Plataforma.
        </p>
        <h3 class="sub-titulo">10. Sanções</h3>
        <p class="texto" style="text-align: justify;">
            Quando identificado que o Psicólogo está dando seguimento ao tratamento do Usuário sem comunicar-se e/ou
            atualizar a Zack para agendamento e/ou realização das sessões, a Zack entrará em contato com o profissional
            e poderá rescindir o contrato.
            <br>
            <br>
            A ausência ou falta de qualidade nas respostas por parte do Psicólogo às mensagens da Zack poderá implicar
            na indisponibilização de horários disponíveis no perfil do psicólogo no site da Zack ou até mesmo no
            descadastramento do Psicólogo na plataforma, sem prévio aviso.
            <br>
            <br>
            Recusar a realização de atendimentos que estejam em conformidade com o perfil do Psicólogo que consta no
            site poderá ocasionar em advertência ou até mesmo na suspensão do contrato.
        </p>
        <h3 class="sub-titulo">11. Responsabilidade do Psicólogo</h3>
        <p class="texto" style="text-align: justify;">
            Além das demais obrigações previstas nestes Termos de Uso, o psicólogo se obriga a:
            <br>
        </p>
        <ul style="text-align: left;">
            <li>Zelar pela qualidade técnica e ética de seus serviços;</li>
            <li>Empenhar o máximo esforço para prestar o melhor atendimento possível aos pacientes;</li>
            <li>Responder com brevidade às mensagens da Zack e empenhar o máximo esforço para respondê-las com precisão
                para que possamos manter a qualidade e organização dos nossos serviços;</li>
            <li>Estar devidamente cadastrado e regularizado perante o Conselho Regional de Psicologia da sua região de
                atuação;</li>
            <li>Prezar pela pontualidade no atendimento, seja em consultas físicas e/ou virtuais;</li>
            <li>Manter todos os detalhes do seu perfil sempre atualizado no site, como valor de consulta, público
                atendido, especialidades, abordagens e horários;</li>
            <li>Garantir, por intermédio de mecanismos técnicos e físicos, a segurança das informações, documentos e/ou
                relatórios dos pacientes, impedindo o acesso, o compartilhamento e o uso indevido desses dados;</li>
            <li>O Psicólogo deverá se responsabilizar única e exclusivamente pelo sigilo, segurança e armazenamento das
                informações, documentos e/ou relatórios de paciente, sendo ainda, responsável pelas indenizações por
                eventuais danos causados;</li>
            <li>Manter os prontuários e anotações realizadas durante a consulta guardadas por prazo mínimo de 5 (cinco)
                anos, podendo este ser estendido por expressa determinação legal ou judicial ou, ainda, em casos
                específicos em que seja necessária a manutenção por mais tempos, cumprindo com as determinações do CPF;
            </li>
            <li>Deixar seus sistemas AntiSpam, filtros similares ou configurações de redirecionamento de mensagens
                ajustados, de modo que não interfiram no recebimento dos comunicados e materiais da Zack, não sendo
                aceitável nenhuma escusa caso não tenha tido acesso a algum e-mail ou mensagem eletrônica em virtude dos
                recursos mencionados;</li>
            <li>Respeitar todos os direitos de propriedade intelectual de titularidade da Zack;</li>
            <li>Respeitar os termos e condições dispostos no presente Termos e Política de Privacidade, assim como
                demais orientações advindas da Zack, em especial, com relação a segurança e armazenamento das
                informações, documentos e/ou relatórios de pacientes.</li>
            <li>Todos os atendimentos realizados aos Usuários deverão ser realizados de forma particular, não sendo
                possível atender por Planos de Saúde (exceto na modalidade reembolso).</li>
        </ul>
        <p class="texto" style="text-align: justify;">
            <br>
            O descumprimento das responsabilidades elencadas acima, ou das demais obrigações previstas nestes Termos de
            Uso, poderá resultar em uma advertência ao psicólogo sobre falta de aderência aos Termos de Uso ou suspensão
            temporária (ou definitiva) do psicólogo na Plataforma.
            <br>
        </p>
        <h3 class="sub-titulo">12. Do espaço de supervisão e capacitação</h3>
        <p class="texto" style="text-align: justify;">
            Dentro da Plataforma Zack será disponibilizado um espaço exclusivo para supervisão, capacitação e
            desenvolvimento profissional, para os Psicólogos que optarem por adquirir o plano. Espera-se que os
            profissionais utilizem esse espaço para aprimorar suas habilidades, adquirir novos conhecimentos e aplicar
            as melhores práticas em suas consultas.
            <br>
            <br>
            A Zack, por sua vez, isenta-se de responsabilidade pelo conteúdo, qualidade ou veracidade das informações
            compartilhadas entre os Psicólogos nestes espaços de supervisão e capacitação. A plataforma se compromete a
            fornecer um ambiente virtual propício para o desenvolvimento profissional, mas não garante o resultado
            específico de tais interações, cabendo aos Psicólogos a responsabilidade pelo uso adequado desses recursos,
            bem como pela aplicação prática do conhecimento adquirido em benefício dos Usuários atendidos.
        </p>
        <h3 class="sub-titulo">13. Da Comunidade</h3>
        <p class="texto" style="text-align: justify;">
            A Zack oferece a oportunidade para que todos os Psicólogos cadastrados na Plataforma participem da
            Comunidade, um espaço virtual que tem como objetivo promover um ambiente de suporte mútuo, troca de
            experiências e disseminação de conhecimento entre os profissionais.
            <br>
            <br>
            Os Psicólogos, ao participarem dessa comunidade, assumem a responsabilidade de manter um nível elevado de
            respeito e de adotar uma comunicação não violenta em todas as interações. Espera-se que os membros
            contribuam para um ambiente positivo, onde prevaleça o respeito mútuo, a empatia e a colaboração. Qualquer
            forma de discriminação, assédio ou comunicação que possa ser considerada ofensiva não será tolerada e poderá
            resultar em uma advertência ao psicólogo sobre falta de aderência aos Termos de Uso ou suspensão temporária
            (ou definitiva) do psicólogo na Plataforma.
            <br>
            <br>
            A Zack isenta-se de qualquer responsabilidade pelo conteúdo compartilhado pelos membros da comunidade. A
            plataforma não monitora ativamente as conversas nem interfere no conteúdo das discussões, ficando isenta de
            qualquer responsabilidade legal ou ética decorrente das interações entre os membros. Cabe aos participantes
            da comunidade a responsabilidade direta pelo que é compartilhado, mantendo sempre o compromisso com a ética
            profissional e o respeito às diretrizes estabelecidas neste Termo de Uso.
        </p>
        <h3 class="sub-titulo">14. Isenções e Limitações de Responsabilidade</h3>
        <p class="texto" style="text-align: justify;">
            A Zack respeita e obedece a todas as leis e regulamentos aplicáveis às suas atividades e espera que todos
            seus Usuários e Psicólogos façam o mesmo. Entretanto, a Zack não pode garantir e não assume nenhuma
            responsabilidade pela conformidade de seus Usuários e psicólogos com quaisquer leis ou regulamentos. Ao
            utilizar a Plataforma ou Serviços da Zack, o Usuário declara estar ciente, entender e concordar que é
            exclusiva e totalmente responsável pelo cumprimento de todas e quaisquer leis, normas, regulamentos e
            obrigações legais e fiscais que possam ser aplicadas para ao seu uso da Plataforma, Serviços e Conteúdos.
            <br>
            <br>
            A Zack não garante a exatidão nem autenticidade das informações e conteúdos fornecidos pelos Usuários e
            psicólogos e não tem nenhuma obrigação de verificá-los ou monitorá-los. Entretanto, a Zack reserva-se o
            direito de fazê-lo, diretamente ou através de fornecedores ou terceiros capacitados, para garantir a
            qualidade dos Serviços prestados e a conformidade com estes Termos ou para cumprir com a lei aplicável ou
            com ordem de algum órgão competente.
            <br>
            <br>
            A Zack não endossa nenhum psicólogo e não tem qualquer responsabilidade pela conduta dos psicólogos ou de
            terceiros contatados ou contratados através da Plataforma. A Zack explicitamente não se responsabiliza por
            qualquer ato ou omissão de qualquer Psicólogo em relação a Usuários ou a terceiros.
            <br>
            <br>
            Ao utilizar a Plataforma ou Serviços, você concorda que qualquer ação judicial ou de responsabilidade civil
            que você procurar obter por ações ou omissões de Psicólogos, Usuários ou outros terceiros será limitada a
            uma reivindicação contra os psicólogos, Usuários individuais ou terceiros que lhe causaram mal e você
            concorda em não tentar impor a responsabilidade ou intentar recurso legal contra a Zack, ou seus acionistas,
            representantes, gestores ou funcionários, com relação a tais ações ou omissões. O mesmo compromisso
            aplica-se a todas as demais partes envolvidas nas reclamações ou ações.
            <br>
            <br>
            A Zack não tem acesso e, portanto, não coleta e/ou armazena as informações fornecidas pelo Usuário
            diretamente aos psicólogos durante as consultas online e a eventuais anotações e relatórios de Usuários
            elaborados pelos psicólogos durante as consultas. É dever do psicólogo realizar a devida coleta e
            armazenamento das informações fornecidas pelo Usuário. Portanto, é de responsabilidade do próprio psicólogo
            assegurar a segurança das informações fornecidas pelo Usuário contratante, não podendo a Zack ser
            responsabilizada por eventuais perdas e danos decorrentes do vazamento ou do uso indevido destes dados e/ou
            informações.
            <br>
            <br>
            Como a Zack não figura como parte nas transações que ocorrem entre os Usuários e os psicólogos, a
            responsabilidade por todas as obrigações delas decorrentes, sejam fiscais, trabalhistas, consumeristas ou de
            qualquer outra natureza, são exclusivamente dos Usuários e dos Psicólogos.
            <br>
            <br>
            Caso a Zack seja ré de interpelação judicial cujos fatos fundem-se em ações do Psicólogo, este será chamado
            ao processo devendo arcar com todos os ônus que daí decorram. O psicólogo indenizará a Zack, empresas
            controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por
            qualquer demanda promovida por outros Usuários, psicólogos ou terceiros decorrentes de atos e omissões do
            psicólogo durante o uso da Plataforma ou Serviços que tenham implicado em descumprimento destes Termos de
            Uso, demais políticas da Zack, direitos de terceiros ou quaisquer leis ou regulamentos aplicáveis; incluindo
            honorários de advogados.
            <br>
            <br>
            A Zack não se responsabiliza por lucro cessante ou por qualquer outro dano e/ou prejuízo, de qualquer
            natureza, que o psicólogo possa sofrer devido às interações e transações realizadas ou não realizadas
            através da Zack, independente da Zack ter sido avisada da possibilidade de tais danos. Ao utilizar a
            Plataforma ou Serviços, o psicólogo declara estar ciente, entender e concordar que estará agindo por sua
            conta e risco.
            <br>
            <br>
            A Zack não se responsabiliza por/pela (o):
            <br>
        </p>
        <ul style="text-align: left;">
            <li>Quaisquer vícios, defeitos técnicos e/ou operacionais (problemas, bugs e glitches) ou funcionamentos
                indevidos que ocorrerem nos dispositivos e equipamentos dos Usuários ou de terceiros e sejam resultantes
                do uso regular da Plataforma;</li>
            <li>Qualquer dano direto ou indireto ocasionado por eventos de terceiros, como ataque de hackers, falhas no
                sistema, no servidor ou na conexão à Internet, inclusive por ações de softwares maliciosos, como vírus,
                cavalos de Tróia e outros que possam, de algum modo, danificar o equipamento ou a conexão dos Usuários
                em decorrência do acesso, utilização ou navegação na Plataforma, bem como a transferência de dados,
                arquivos, imagens, textos contidos neste;</li>
            <li>Verificar, controlar, aprovar ou garantir a adequação ou exatidão das informações ou dados
                disponibilizados em tais links, não sendo, portanto, responsável por prejuízos, perdas ou danos
                ocorridos pela visita a tais sites, cabendo ao interessado verificar a confiabilidade das informações e
                dados ali exibidos antes de tomar alguma decisão ou praticar algum ato;</li>
            <li>Disponibilidade integral e ininterrupta da Plataforma, cujo correto funcionamento depende do acesso e
                tráfego de dados entre terminais de computador dos Usuários e os servidores pertencentes ou contratados
                pela Zack, não possuindo nenhuma ingerência e não sendo responsável por eventuais falhas no tráfego
                desses dados e no acesso à Plataforma decorrentes de falhas na rede mundial de computadores ou da
                própria rede e serviços de telecomunicação prestados por provedores de acesso à Internet;</li>
            <li>Erros de sistemas que alterem dados ou informações dos serviços disponibilizados na Plataforma;</li>
            <li>Ressarcir seus Usuários por quaisquer gastos com ligações telefônicas, pacotes de dados, SMS, mensagens,
                e-mails, correspondência ou qualquer outro valor despendido pelo Usuário em razão de contato com a Zack
                ou quaisquer outros Usuários, por qualquer motivo que seja.</li>
        </ul>
        <p class="texto" style="text-align: justify;">
            Os psicólogos não possuem qualquer direito para exigir a disponibilidade da Plataforma conforme melhor lhes
            convêm, tampouco poderão pleitear indenização ou reparação de danos em caso de a Plataforma permanecer fora
            do ar, independentemente da motivação. A eventual remoção, bloqueio ou suspensão de qualquer conteúdo ou
            funcionalidade da Plataforma em decorrência de alguma reclamação, deverá ser sempre compreendida como
            demonstração de boa-fé e intenção de solução amigável de conflitos, jamais como reconhecimento de culpa ou
            de qualquer infração pela Zack a direito de terceiro. A Zack se reserva no direito de auxiliar e cooperar
            com qualquer autoridade judicial ou órgão governamental, podendo enviar informações cadastrais de seus
            Usuários.
        </p>
        <h3 class="sub-titulo">15. Propriedade Intelectual</h3>
        <p class="texto" style="text-align: justify;">
            O uso comercial da expressão “Zack” como marca, nome empresarial ou nome de domínio; os conteúdos das telas
            relativas à Plataforma ou Serviços da Zack; e os programas, bancos de dados, redes, arquivos que permitem
            que o Usuário acesse a Plataforma e use Sua Conta são todos de propriedade da Zack e estão protegidos pelas
            leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso
            indevido e a reprodução total ou parcial dos referidos itens são proibidos, salvo por autorização expressa
            da Zack.
            <br>
            <br>
            Todas as outras marcas comerciais, marcas de serviço, logotipos, nomes comerciais e quaisquer outras
            designações proprietárias são marcas comerciais ou marcas registradas de suas respectivas partes.
            <br>
            <br>
            O Psicólogo não tem direito de sublicenciar os direitos de licença concedidos nesta seção. O psicólogo se
            compromete a não usar, copiar, adaptar, modificar, preparar trabalhos derivados com base, distribuir,
            licenciar, vender, transferir, exibir publicamente, executar publicamente, transmitir ou explorar a
            Plataforma, Serviços ou Conteúdos, exceto se expressamente permitido nestes Termos.
            <br>
            <br>
            O Psicólogo, ainda, se compromete a não remover, alterar ou ocultar quaisquer direitos autorais, marca
            registrada, marca de serviço ou outros direitos de propriedade incorporadas ou acompanhando a Plataforma,
            Serviços ou Conteúdos. Nenhuma licença ou direitos são concedidos por implicação ou sob quaisquer direitos
            de propriedade intelectual pertencentes ou controlados pela Zack ou de seus licenciadores, exceto para as
            licenças e direitos expressamente concedidos nestes Termos.
            <br>
            <br>
            Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade
            intelectual e/ou as proibições estipuladas nestes Termos de Uso, tornarão o responsável passível das ações
            legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por
            eventuais danos causados.
        </p>
        <h3 class="sub-titulo">16. Vedações</h3>
        <p class="texto" style="text-align: justify;">
            Fica vedada qualquer tentativa, direta ou indireta, bem-sucedida ou não, de realizar alguma das atividades
            listadas abaixo. A constatação de tal intento tornará o autor, bem como seus mandantes, defensores,
            encorajadores e ajudantes, passível das sanções previstas nestes Termos, das ações legais pertinentes e da
            responsabilidade de indenizar quaisquer partes afetadas por eventuais danos causados. Tais atividades
            incluem, mas não se limitam a:
            <br>
        </p>
        <ul style="text-align: left;">
            <li>Incomodar, agredir, caluniar, injuriar, difamar, perseguir ou assediar qualquer outro Usuário ou
                Parceiros;</li>
            <li>Infringir os direitos de qualquer pessoa ou entidade, incluindo, sem limitação, os direitos de
                propriedade intelectual, privacidade, publicidade ou contratual;</li>
            <li>Copiar, armazenar, ou de qualquer forma acessar qualquer informação contida na Plataforma ou Serviços ou
                Conteúdos para fins que não sejam expressamente autorizados por estes Termos;</li>
            <li>Utilizar a Plataforma ou Serviços para transmitir, distribuir, publicar ou enviar qualquer informação
                relativa a qualquer outra pessoa ou entidade, incluindo, sem limitação, fotografias de outras pessoas
                sem sua permissão, informações de contato pessoal ou de crédito, débito, cartão telefônico ou números de
                contas;</li>
            <li>Manipular os valores ou quaisquer outras informações contidas nos anúncios, na Plataforma ou Serviços;
            </li>
            <li>Utilizar a Plataforma ou Serviços para qualquer comercial ou para outros fins que não sejam
                expressamente autorizados por estes Termos;</li>
            <li>Interferir nas transações entre outros Usuários e/ou Psicólogos;</li>
            <li>Usar software manual ou automatizado, dispositivos, scripts robôs, ou outros meios ou processos para
                acessar, “scrape”, “crawl” ou “spider” qualquer parte da Plataforma, Serviços ou Conteúdos;</li>
            <li>Modificar, copiar, distribuir, transmitir, exibir, realizar, reproduzir, publicar, licenciar, criar
                trabalhos derivados, exibir em outra webpage, utilizar em qualquer outro website, transferir ou vender
                qualquer informação, software, listas de usuários, banco de dados ou outras listas, produtos ou serviços
                prestados por ou obtidos pela Zack, incluindo, mas não limitado a, práticas envolvendo “screen
                scraping”, “database scraping”, ou qualquer outra atividade com o propósito de obter listas de usuários
                ou outras informações;</li>
            <li>Usar scripts automatizados para coletar informações ou de outra forma interagir com a Plataforma ou
                Serviços;</li>
            <li>Acessar, testar, adulterar, interferir ou danificar a Plataforma ou qualquer sistema da Zack, dos
                Usuários, dos psicólogos ou de terceiros através do uso de vírus, cancelar bots, cavalos de Tróia,
                códigos nocivos, flood pings, ataques de negação de serviço, pacote ou falsificação de IP, roteamento
                forjado ou informações de endereço eletrônico ou métodos similares ou de tecnologia;</li>
            <li>Tentar detectar, varrer, ou testar a vulnerabilidade de qualquer sistema ou rede Zack ou violar qualquer
                segurança ou medidas de autenticação;</li>
            <li>Evitar, ignorar, remover, desativar, prejudicar, decodificar, ou evitar qualquer medida tecnológica
                implementada pela Zack ou qualquer dos provedores Zack ou qualquer outro terceiro (incluindo outro
                USUÁRIO) para proteger a Plataforma, Serviços ou Conteúdos;</li>
            <li>Forjar qualquer pacote de cabeçalho TCP/IP ou qualquer parte da informação do cabeçalho em qualquer
                publicação, e-mail ou newsgroup, ou de qualquer forma utilizar a Plataforma, Serviços ou Conteúdos para
                enviar fonte de identificação alterada, enganosa ou falsa informação;</li>
            <li>Sistematicamente recuperar dados ou outro conteúdo do nossa Plataforma ou Serviços para criar ou
                compilar, direta ou indiretamente, em downloads únicos ou múltiplos, a coleta, compilação, banco de
                dados, diretório ou similar, seja por métodos manuais, através da utilização de bots, crawlers, ou
                spiders, ou de qualquer outra forma;</li>
            <li>Tentar decifrar, descompilar, desmontar ou fazer engenharia reversa de qualquer software usado para
                fornecer a Plataforma, Serviços ou Conteúdos;</li>
            <li>Personificar qualquer pessoa ou entidade, falsificar ou adulterar a si mesmo ou sua afiliação com
                qualquer pessoa ou entidade.</li>
        </ul>
        <h3 class="sub-titulo">17. Política de Cancelamento do Contrato</h3>
        <p class="texto" style="text-align: justify;">
            A Zack pode rescindir estes Termos, Contas de Psicólogos ou acesso dos Psicólogos à Plataforma e aos
            Serviços a qualquer momento, sem aviso ou consentimento prévios e a seu exclusivo critério. Nessa hipótese,
            a Zack se compromete a tomar as providências cabíveis de forma a não prejudicar os Psicólogos ou Usuários.
            <br>
            <br>
            O cancelamento, em qualquer um dos casos, somente será permitido, caso o Psicólogo não tenha nenhuma
            obrigação pendente em relação a Zack ou a demais psicólogos, incluindo, mas não somente: consultas em aberto
            com Usuários e saldos pendentes a serem resgatados.
            <br>
            <br>
            Em caso de rescisão:
        </p>
        <ul style="text-align: left;">
            <li>o Psicólogo permanecerá responsável por todos os montantes devidos a Zack ou a terceiros;</li>
            <li>a Zack verificará eventuais valores que sejam legalmente devidos ao psicólogo e lhes pagarão em tempo
                hábil;</li>
            <li>os atendimentos do Psicólogo que forem efetuados aos Pacientes que foram originados pelos serviços da
                Zack, continuarão sujeitos ao valor da Taxa por Atendimento, por 90 (noventa) dias contados a partir da
                comunicação de rescisão;</li>
            <li>a Zack não assumirá nenhuma responsabilidade por valores devidos por (ou a) terceiros.</li>
        </ul>
        <p class="texto" style="text-align: justify;">
            Em caso de cancelamento de sua conta, a Zack não realizará a exclusão ou devolução de qualquer Conteúdo que
            você tenha enviado para a Plataforma, incluindo, mas não limitado a quaisquer opiniões, comentários ou
            depoimentos, sendo respeitados os direitos de pedido de exclusão de dados pessoais, nos termos do presente
            Termos de Uso e da Política de Privacidade da Plataforma.
            <br>
            <br>
            O fato da Zack deixar de exercer ou executar qualquer direito ou disposição destes Termos não constitui uma
            renúncia à aplicação futura desse direito ou cláusula. A renúncia de qualquer direito ou cláusula só será
            eficaz se efetivada por escrito e assinada por um representante devidamente autorizado da Zack.
        </p>
        <h3 class="sub-titulo">18. Canal de Atendimento e Denúncia</h3>
        <p class="texto" style="text-align: justify;">
            O canal de atendimento para Pacientes e Psicólogos tirarem dúvidas, atualizar o perfil do site e atualizar
            agendas devem ser feitos exclusivamente com a nossa equipe de suporte, via telefone, e-mail ou WhatsApp.
            <br>
            <br>
            A Zack fornece a seus Usuários e Psicólogos um canal de atendimento para críticas, sugestões, denúncias e
            reclamações que o Usuário e/ou Psicólogo entenda cabível. O canal é através do e-mail
            <a href="mailto:atendimentozack@gmail.com" target="_blank"
                style="color: #4B67B1;">atendimentozack&#64;gmail.com</a>. Ao utilizar este canal, o Usuário ou
            Psicólogo deverá se identificar com os
            dados pertinentes (nome, endereço, número de telefone e e-mail) e descrever a situação detalhadamente, a fim
            de que a Zack verifique eventuais medidas cabíveis previstas nestes Termos.
        </p>
        <h3 class="sub-titulo">19. Notificações</h3>
        <p class="texto" style="text-align: justify;">
            Quaisquer notificações ou outras comunicações permitidas ou exigidas neste documento, incluindo as
            modificações em relação a estes Termos, serão por escrito e entregues pela Zack por postagem na Plataforma,
            via e-mail para o endereço de e-mail informado pelo Usuário em Sua Conta ou WhatsApp.
            <br>
            <br>
            Para avisos feitos por e-mail, a data de recebimento será considerada a data em que tal notificação for
            transmitida.
        </p>
        <h3 class="sub-titulo">20. Legislação</h3>
        <p class="texto" style="text-align: justify;">
            Todos os itens destes Termos são regidos pelas leis vigentes na República Federativa do Brasil. Para todos
            os assuntos referentes à interpretação, ao cumprimento ou a qualquer outro questionamento relacionado a
            estes Termos, as partes concordam e elegem, expressamente, o Foro Central da Comarca de São Paulo.
        </p>
    </div>
</div>