<h1 *ngIf="perfis != null && perfis.length > 0" class="titulo">Selecione o psicólogo mais adequado para você</h1>
<div *ngIf="perfis != null && perfis.length > 0">
  <div class="card-group">
    <div class="row row-cols-md-3 col-md-10 celular">
      <div class="col" *ngFor="let perfil of perfis">
        <div class="card">
          <img [src]="perfil.selectedFileDataUrl" alt="Pesquise" class="imagem-pesquise" />
          <div class="card-body">
            <h5 class="card-title">{{perfil.nome}}</h5>
            <p class="card-text">
              {{perfil.breveDescricao}}
            </p>
          </div>
          <p><a class="btn btn-secondary" (click)="navigate(perfil)" role="button">« Meu Perfil »</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a style="text-align: center; cursor: pointer; text-decoration: underline; color: blue;" href="/agendamento">Conheça aqui outros profisionais...</a>
  </div>
</div>
