<div>
    <div class="fundoRoxo">
        <div class="container">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/ORIENTACAOVOCACIONAL.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">ORIENTAÇÃO PROFISSIONAL E VOCACIONAL</h5>
                                    <p class="card-text">Orientação e mapeamento para a melhor escolha profissional</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/reorientacaovocacional.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">REORIENTAÇÃO PROFISSIONAL</h5>
                                    <p class="card-text">Serviço de orientação profissional ajuda a identificar habilidades, interesses e objetivos, orientando na escolha de carreira e desenvolvimento profissional.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/recrutamentoeselecao.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">RECRUTAMENTO E SELEÇÃO</h5>
                                    <p class="card-text">Oferecemos orientação para montar a equipe dos sonhos da sua empresa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/cursosetreinamento.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">CURSOS E TREINAMENTOS</h5>
                                    <p class="card-text">Orientação de liderança para dar o próximo passo e alavancar sua carreira</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/terapiadecasal.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">TERAPIA DE CASAL</h5>
                                    <p class="card-text">Serviço de terapia de casal melhora a comunicação, resolve conflitos e fortalece o relacionamento, promovendo entendimento e conexão emocional.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/psicoterapia.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">PSICOTERAPIA</h5>
                                    <p class="card-text">Psicoterapia auxilia na compreensão e superação de problemas emocionais e comportamentais, promovendo bem-estar mental e melhoria na qualidade de vida.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/tratamentoquimico.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">TRATAMENTO A DEPENDÊNCIA QUÍMICA</h5>
                                    <p class="card-text">Tratamento de dependência química oferece suporte médico e psicológico para superar vícios, promovendo recuperação, reintegração social e bem-estar geral.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/orientacaoaposentado.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">ORIENTAÇÃO PARA APOSENTADOS</h5>
                                    <p class="card-text">Orientação para aposentados oferece suporte social e emocional, ajudando na adaptação e planejamento da nova fase da vida, promovendo bem-estar e estratégias de enfrentamento eficazes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/pesquisadeclima.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">PESQUISA DE CLIMA ORGANIZACIONAL</h5>
                                    <p class="card-text">Pesquisa de clima organizacional avalia satisfação e engajamento dos colaboradores, identificando áreas para melhorias no ambiente de trabalho e cultura empresarial.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/avaliacaodesempenho.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">AVALIAÇÃO DE DESEMPENHO</h5>
                                    <p class="card-text">Avaliação de desempenho analisa habilidades e resultados dos colaboradores, identificando áreas de melhoria e potencial, promovendo desenvolvimento profissional e eficiência organizacional.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/criacaoperfil.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">CRIAÇÃO DO PERFIL PROFISSIOGRÁFICO</h5>
                                    <p class="card-text">Suporte e consultoria para realocar os funcionários da sua empresa de forma estratégica</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/gestaocompetencia.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">GESTÃO DE COMPETÊNCIAS</h5>
                                    <p class="card-text">Gestão de competências identifica, desenvolve e alinha habilidades dos colaboradores às necessidades organizacionais, promovendo eficiência e crescimento profissional.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/transtornoansiedade.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">TRANSTORNO DE ANSIEDADE</h5>
                                    <p class="card-text">Terapia e suporte para gerenciar sintomas, melhorar bem-estar e promover estratégias de enfrentamento eficazes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="../../../assets/consultoriaorgani.png" class="img-fluid rounded-start rounded-end" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">CONSULTORIA ORGANIZACIONAL</h5>
                                    <p class="card-text">Terapia para ajudar na organização de etapas e otimização de processos da sua empresa ou da vida pessoal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center my-4">
                <button type="button" class="btn saibaMais"
                    (click)='whatsApp("https://wa.me/5561982607070?text=Ol%C3%A1!%0AGostaria%20de%marcar%20uma%20consulta.")'>Entre
                    em contato <i class="bi bi-whatsapp" style="font-size: 21px; color: white; margin-left: 2%;"></i></button>
            </div>
        </div>
    </div>
</div>
