<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="loading-overlay" *ngIf="carregando">
  <div class="loader"></div>
</div>
<div class="fundoRoxo">
  <div class="formulario" *ngIf="!enviado">
    <div class="candidato">
      <h1 class="center-div titulo">FORMULÁRIO DE CADASTRO</h1>
      <form (ngSubmit)="submitForm()" #candidatoForm="ngForm" enctype="multipart/form-data">
        <div class="form-group">
          <label>Nome Completo</label>
          <input type="text" class="form-control form-control-md input" id="nome"
            name="nome" [(ngModel)]="candidato.nome" required>
          <div *ngIf="candidatoForm.submitted &&  candidatoForm.controls['nome']?.errors?.['required']"
            class="text-danger">
            O nome é obrigatório.
          </div>
        </div>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" class="form-control form-control-md input" id="email" name="email"
            [(ngModel)]="candidato.email" required (input)="removeSpaces()">
          <div *ngIf="candidatoForm.submitted && candidatoForm.controls['email']?.errors?.['required']"
            class="text-danger">
            O email é obrigatório.
          </div>
          <div *ngIf="candidatoForm.controls['email']?.errors?.['invalidEmail']" class="text-danger">
            E-mail informado inválido!
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>CRP</label>
            <input type="text" class="form-control form-control-md input" id="crp" name="endereco"
              [(ngModel)]="candidato.crp" (input)="formatCRP($event)" maxlength="8" minlength="8" required>
            <div *ngIf="candidatoForm.submitted &&  candidatoForm.controls['crp']?.errors?.['required']"
              class="text-danger">
              O CRP é obrigatório.
            </div>
            <div *ngIf="candidatoForm.controls['crp']?.errors?.['invalidCRP']" class="text-danger">
              CRP informado inválido!
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Telefone</label>
            <input type="text" class="form-control form-control-md input" id="telefone" name="telefone"
              [(ngModel)]="candidato.telefone" (input)="formatTelefone($event)" maxlength="15" 
              required>
            <div *ngIf="candidatoForm.submitted &&  candidatoForm.controls['telefone']?.errors?.['required']"
              class="text-danger">
              O telefone é obrigatório.
            </div>
            <div *ngIf="candidatoForm.controls['telefone']?.errors?.['invalidTelefone']" class="text-danger">
              Telefone informado inválido!
            </div>
          </div>
        </div>
        <br/>
        <h4 class="anexosTitulo">ANEXO DE DOCUMENTOS</h4>
        <div class="form-group center-div">
          <div class="col-md-9">
            <label for="curriculo">Currículo</label> <br>
            <input type="file" class="form-control-file" id="curriculo" name="curriculo" (change)="onFileChange($event, 'curriculo')"
              accept=".pdf,.doc,.docx" required [(ngModel)]="curriculo">
            <div *ngIf="candidatoForm.submitted &&  candidatoForm.controls['curriculo']?.errors?.['required']"
              class="text-danger">
              O currículo é obrigatório.
            </div>
            <div *ngIf="candidatoForm.controls['curriculo']?.errors?.['fileType']" class="text-danger">
              Apenas arquivos PDF, DOC e DOCX são permitidos.
            </div>
            <div *ngIf="candidatoForm.controls['curriculo']?.errors?.['fileSize']" class="text-danger">
              O tamanho do arquivo não pode exceder 5MB.
            </div>
          </div>
        </div>

        <div class="form-group center-div">
          <div class="col-md-9">
            <label for="historico">Histórico Acadêmico</label> <br>
            <input type="file" class="form-control-file" id="historico" name="historico" (change)="onFileChange($event, 'historico')"
              accept=".pdf,.doc,.docx" required [(ngModel)]="historico">
            <div *ngIf="candidatoForm.submitted &&  candidatoForm.controls['historico']?.errors?.['required']"
              class="text-danger">
              O histórico é obrigatório.
            </div>
            <div *ngIf="candidatoForm.controls['historico']?.errors?.['fileType']" class="text-danger">
              Apenas arquivos PDF, DOC e DOCX são permitidos.
            </div>
            <div *ngIf="candidatoForm.controls['historico']?.errors?.['fileSize']" class="text-danger">
              O tamanho do arquivo não pode exceder 5MB.
            </div>
          </div>
        </div>
        <br/>
        <div class="center-div">
          <button type="submit" class="btn w-100 btnEnviar" [disabled]="!this.candidatoForm.valid">
            <i class="bi bi-send" style="font-size: 20px; color: white;"></i> Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>