<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div style="margin-top: 0%;">
    <app-mapa></app-mapa>
</div>
<div class="col-md-10 offset-md-1">
    <div class="info">
        <div class="card-group">
            <div class="card">
                <i class="bi bi-building-fill"></i>
                <div class="card-body">
                    <h5 class="card-title">Endereço</h5>
                    <p class="card-text">SRTVS Quadra 701 Bloco "O". Sala 466
                        Ed. Multi Empresarial - Brasília - DF
                        CEP - 70340-000</p>
                </div>
            </div>
            <div class="card">
                <i class="bi bi-envelope-at"></i>
                <div class="card-body">
                    <h5 class="card-title">E-mail</h5>
                    <p class="card-text">contato&#64;clinicazack.com.br</p>
                </div>
            </div>
            <div class="card">
                <i class="bi bi-whatsapp"></i>
                <div class="card-body">
                    <h5 class="card-title">Whatsapp</h5>
                    <p class="card-text">(61) 98257-3833</p>
                </div>
            </div>
            <div class="card">
                <i class="bi bi-clock"></i>
                <div class="card-body">
                    <h5 class="card-title">Horário de funcionamento</h5>
                    <p class="card-text">Segunda - Sexta<br>
                        09:00 às 20:00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contato">
        <h1 class="titulo">Fale conosco</h1>
        <div class="linha"></div>
        <div class="formulario">
            <form>
                <input class="form-control form-control-md input" type="text" placeholder="Seu Nome"
                    aria-label=".form-control-md example">
                <input class="form-control form-control-md input" type="text" placeholder="Assunto"
                    aria-label=".form-control-md example">
                <input class="form-control form-control-md input" type="text" placeholder="E-mail"
                    aria-label=".form-control-md example">
                <textarea class="form-control input" aria-label=".form-control-lg example" id="exampleFormControlTextarea1"  placeholder="Sua mensagem" rows="3"></textarea>
                <button type="button" class="btn w-100" style="background-color:#49654E; color: white; font-size: 22px;">
                    <i class="bi bi-send" style="font-size: 20px; color: white;"></i> Enviar
                </button>
            </form>
        </div>
    </div>
</div>