<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
    <div class="background-image-container">
        <img src="../../../assets/contato.png" alt="Cinque Terre">
        <div class="center col-md-10 offset-md-1">
            <h1 class="titulo-foto">
                VAMOS ADORAR RECEBER <br />
                SEU CONTATO
            </h1>
        </div>
    </div>
    <div class="row" style="margin: 3%;">
        <div class="col-md-6 align-items-end">
            <div class="row d-flex align-items-center" style="margin-top:35%;">
                <img src="../../../assets/telefone.png" class="col-md-2" alt="Telefone" style="width: 80px; height: 56px;">
                <a class="col-md-10">(61) 9 8260-7070</a>
            </div>
            <div class="row d-flex align-items-center mt-2">
                <img src="../../../assets/email.png" alt="Email" class="col-md-2" style="width: 80px; height: 56px;">
                <a class="col-md-10">atendimentozack&#64;gmail.com</a>
            </div>

            <button type="button" class="btn btnContato mt-2">Entre em Contato <i class="bi bi-caret-right-fill" style="font-size: 20px;
                color: gray;"></i></button>
        </div>
        <div class="col-md-6">
            <app-mapa></app-mapa>
            <p style="padding: 0%; text-align: left; font-size: 12px;">RTS Quadra 701 Bloco O Ed Multiempresarial Sala
                466 - Asa Sul, Brasília - DF, 70340-000</p>
        </div>
    </div>

</div>