<div class="col-md-10 offset-md-1">
    <div class="transtornoAnsiedade">
        <h1 class="titulo">Transtorno de ansiedade</h1>
        <p class="paragrafo">A ansiedade é uma reação normal do ser humano quando está diante de algumas situações, por
            exemplo o medo. O problema surge quando esse sintoma persiste e interfere em nossas tarefas diárias.
            Esse estado emocional de alerta, onde se tem a expectativa de que algo ruim aconteça vem acompanhado de
            diversas reações físicas e mentais e o tratamento psicológico tem sido muito eficaz no tratamento desse
            transtorno.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-trantorno-de-ansiedade.webp" alt="Transtorno ansiedade" itemprop="image"
                height="249" width="782" sizes="(max-width: 782px) 100vw, 782px" title="Transtorno ansiedade">
        </div>
    </div>

    <div class="sindromePanico">
        <h1 class="titulo">Síndrome do panico</h1>
        <p class="paragrafo">A Síndrome do Pânico é um transtorno de ansiedade caracterizado pela ocorrência de
            frequentes e inesperados ataques de pânico.
            Muitos são os sintomas que caracterizam essa síndrome, entre eles: a taquicardia, dificuldade para respirar,
            sensação de irrealidade, perda de contato visual, entre outros. Por esse motivo a síndrome de pânico pode
            ser facilmente confundida com doenças cardíacas ou neurológicas.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-sindrome-do-panico.webp" alt="sindrome Panico" itemprop="image" height="249"
                width="782" sizes="(max-width: 782px) 100vw, 782px" title="sindrome Panico">
        </div>
    </div>

    <div class="problemasRelacionamento">
        <h1 class="titulo">Problemas de relacionamentos</h1>
        <p class="paragrafo">Por que algumas pessoas têm problemas para se relacionar?
            O que aconteceu na história de vida dessa pessoa para que a dificuldade de se relacionar permaneça?
            As dificuldades de relacionamento geram diversos prejuízos que podem transcorrer em diferentes contextos.
            Podem surgir no contexto familiar e social (trabalho, igreja, escola).</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-PROBLEMAS-DE-RELACIONAMENTO.webp" alt="PROBLEMA RELACIONAMENTO"
                itemprop="image" height="249" width="782" sizes="(max-width: 782px) 100vw, 782px"
                title="PROBLEMA RELACIONAMENTO">
        </div>
    </div>

    <div class="disturbioAlimentar">
        <h1 class="titulo">Disturbios alimentares</h1>
        <p class="paragrafo">Os distúrbios alimentares são um conjunto de doenças, que podem aparecer em qualquer fase
            da vida, mais frequentemente na adolescência e tem como característica a preocupação exagerada com o corpo e
            peso.
            Os principais tipos de distúrbios alimentares são a anorexia nervosa, bulimia nervosa e compulsão alimentar.
            Os Distúrbios alimentares podem causar graves problemas físicos e pode ser até fatal, além de oexistir com
            outras doenças como a depressão e a ansiedade.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-disturbio-alimentar.webp" alt="disturbio alimentar" itemprop="image"
                height="249" width="782" sizes="(max-width: 782px) 100vw, 782px" title="disturbio alimentar">
        </div>
    </div>


    <div class="depressao">
        <h1 class="titulo">Depressão</h1>
        <p class="paragrafo">A presença de tristeza, pessimismo, baixa autoestima, que aparecem com frequência e podem
            combinar-se entre si são sintomas da depressão.
            A depressão é uma doença que necessita de um acompanhamento adequado tanto para o diagnóstico quanto para o
            tratamento correto. Os fatores psicológicos e sociais, muitas vezes, são consequência e não o fator que
            causa a depressão e segundo estatísticas 19% da população do mundo apresenta o problema em algum momento da
            vida.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-DEPRESSAO.webp" alt="depressao" itemprop="image" height="249" width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="depressao">
        </div>
    </div>

    <div class="dependenciaQuimica">
        <h1 class="titulo">Dependência química</h1>
        <p class="paragrafo">O que leva uma pessoa a usar drogas?
            A dependência química é uma das doenças psiquiátricas mais frequentes da atualidade e afeta a vida psíquica,
            emocional, espiritual e física do paciente.<br>
            Para o tratamento precisamos levar em consideração vários fatores:<br>
            – É uma doença química que reage com o metabolismo do nosso corpo;<br>
            – É uma doença com poder autodestrutivo progressivo;<br>
            – É uma doença controlável, que atinge negativamente toda a família;<br>
            – É uma doença física, psicológica e espiritual.<br>
            Ao menos 28 milhões de pessoas no Brasil têm algum familiar que é dependente químico, de acordo com o
            Levantamento Nacional de Famílias dos Dependentes Químicos (Lenad Família), feito pela Universidade Federal
            de São Paulo (Unifesp).
        </p>

        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-DEPENDENCIA-QUIMICA.webp" alt="dependencia quimica" itemprop="image"
                height="249" width="782" sizes="(max-width: 782px) 100vw, 782px" title="dependencia quimica">
        </div>
    </div>

    <div class="problemasSexuais">
        <h1 class="titulo">Problemas sexuais</h1>
        <p class="paragrafo">
            Os problemas sexuais vão além da falta de orgasmo ou da ejaculação precoce e são comuns em homens e mulheres
            de todas as idades.
            Muitos problemas têm relação com aspectos psicológicos, de saúde ou estilo de vida e afetam radicalmente a
            autoestima do paciente.
        </p>

        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-PROBLEMAS-SEXUAIS.webp" alt="Problemas sexuais" itemprop="image"
                height="249" width="782" sizes="(max-width: 782px) 100vw, 782px" title="Problemas sexuais">
        </div>
    </div>

    <div class="terapiaCasal">
        <h1 class="titulo">Terapia de casal</h1>
        <p class="paragrafo">
            Qual o momento certo para uma terapia de casal?
            Qual o objetivo da terapia de casal, unir ou separar?
            Essas são questões frequentes que rondam o tema, mas o certo é que cada casal tem o seu tempo e alguns percebem a necessidade quando a comunicação já não faz parte da rotina do casal, outros quando as brigas são recorrentes.
            O objetivo da terapia de casal é o melhor caminho para a saúde emocional dos indivíduos, independente se o desfecho será a união ou a separação.
        </p>

        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-TERAPIA-DE-CASAL.webp" alt="Terapia de casal" itemprop="image"
                height="249" width="782" sizes="(max-width: 782px) 100vw, 782px" title="Terapia de casal">
        </div>
    </div>

    <div class="psicodiagnostico">
        <h1 class="titulo">Psicodiagnostico</h1>
        <p class="paragrafo">
            Com a utilização de testes psicológicos podemos diagnosticar diferentes aspectos que afetam o comportamento dos seres humanos.
            Através das avaliações psicológicas poderemos coletar inromações sobre Inteligência, Raciocínios, Aptidoões Profissionais, Traços da Personalidade dentre outros.
        </p>

        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/img-PSICODIAGNOSTICO.webp" alt="Psicodiagnostico" itemprop="image"
                height="249" width="782" sizes="(max-width: 782px) 100vw, 782px" title="Psicodiagnostico">
        </div>
    </div>
</div>