<div class="col-md-10 offset-md-1">
    <div class="PERFILPROFISSIOGRAFICO">
        <h1 class="titulo">CRIAÇÃO DE PERFIL PROFISSIOGRÁFICO</h1>
        <p class="paragrafo">O Perfil Profissiográfico é uma ferramenta que   nos traz informações sobre as características, habilidades e técnicas desejadas em um trabalhador para um determinado cargo.
            Para escolhermos um profissional precisamos avaliar as responsabilidades, conhecimentos, habilidades e atitudes presentes nos candidatos e se esses quesitos estão de acordo com o perfil adequado que criamos para a vaga.
            O perfil profissiográfico é esse documento que consta a descrição do cargo para que a seleção de pessoas siga um parâmetro de escolha.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/CRIACAO-DE-PERFIL-PROFISSIOGRAFICO.webp" alt="PERFIL PROFISSIOGRÁFICO" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="PERFIL PROFISSIOGRÁFICO">
        </div>
    </div>

    <div class="PERFILPSICOLOGICO">
        <h1 class="titulo">DEFINIÇÃO DE PERFIL PSICOLOGICO</h1>
        <p class="paragrafo">Quais os parâmetros e critérios adotados para a contratção de um funcionário ?
            Sabemos que cada empresa possui suas particularidades que muitas vezes não se adequa a um padrão de competência linear.
            A partir dessa peculiaridade organizacional é que surge a necessidade da definição de um perfil psicológico antes mesmo do processo de contratação de um novo colaborador.
            O processo de contrução desse perfil consiste em avaliar primeiramente os profissionais que já trabalham na empresa e que possuem bom desempenho em suas funções. A partir dos resultados apresentados nessas avaliações cria-se o perfil psicológico, que será utilizado para as novas contratações no processo de avaliação psicológica durante a seleção.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/DEFINICAO-DE-PERFIL-PSICOLOGICO.webp" alt="PERFIL PSICOLOGICO" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="PERFIL PSICOLOGICO">
        </div>
    </div>

    <div class="RECRUTAMENTOSELECAO">
        <h1 class="titulo">RECRUTAMENTO E SELEÇÃO</h1>
        <p class="paragrafo">Está difícil encontrar profissionais adequados para sua empresa ?
            A Zack Desenvolvimento possui uma equipe especializada em recrutar e selecionar profissionais para diversas áreas, que vão dos cargos de chefia até os de chão de fábrica.
            Os funcionários são os responsáveis pelo sucesso ou fracasso da empresa.
            Não perca tempo e dinheiro com profissionais errados.
            Nossa metodologia se baseia em análise de currículos, testes psicológicos, entrevistas e provas específicas que nos oferecem dados que garantem o sucesso da sua contratação.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/RECRUTAMENTO-E-SELECAO.webp" alt="RECRUTAMENTO E SELEÇÃO" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="RECRUTAMENTO E SELEÇÃO">
        </div>
    </div>

    <div class="ENTREVISTAADMISSIONAL">
        <h1 class="titulo">ENTREVISTA ADMISSIONAL POR COMPETÊNCIA</h1>
        <p class="paragrafo">Cada vez mais as entrevistas admissionais são estruturadas baseadas em quais competências são necessárias para o desempenho da função pretendida.
        Daí a ZACK desenvolve primeiramente um modelo de competências baseado no perfil profissiográfico do cargo a ser preenchido e em cima desse modelo estrutura o processo de entrevista admissional por competência.
        Caso tenha interesse agende uma visita com um dos nosso consultores organizacionais.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/ENTREVISTA-ADMISSIONAL-POR-COMPETENCIA.webp" alt="ENTREVISTA ADMISSIONAL POR COMPETÊNCIA" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="ENTREVISTA ADMISSIONAL POR COMPETÊNCIA">
        </div>
    </div>

    <div class="AVALIACAOPSICOLOGICA">
        <h1 class="titulo">AVALIAÇÃO PSICOLÓGICA PARA SELEÇÃO</h1>
        <p class="paragrafo">Como escolher o melhor funcionário dentre tantos candidatos ?
            A avaliação psicológica nos traz informações importantes sobre os aspectos comportamentais e habilidades dos avaliados.
            Essa avaliação pode ser feita durante a seleção dos trabalhadores ou após a contratação quando se deseja avaliar esses quesitos.
            Somente em uma entrevista formal não podemos avaliar aspectos como a agressividade, habilidade de comunicação, assertividade e que certamente influenciarão esse trabalhador durante suas tarefas laborais.
            Através dessa ferramenta você certamente fará uma contratação com mais segurança e com menos chances futuras de ter que substituir esse funcionário.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/AVALIACAO-PSICOLOGICA-PARA-SELECAO.webp" alt="AVALIAÇÃO PSICOLÓGICA PARA SELEÇÃO" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="AVALIAÇÃO PSICOLÓGICA PARA SELEÇÃO">
        </div>
    </div>

    <div class="PESQUISACLIMAORGANIZACIONAL">
        <h1 class="titulo">PESQUISA DE CLIMA ORGANIZACIONAL</h1>
        <p class="paragrafo">Por onde começo a resolver os probelmas de uma empresa ou organização ?
            <br>
            <br>
            Quais as prioridades ?
            <br>
            <br>
            Quais os mais urgentes ?
            <br>
            <br>
            Pesquisa de clima organizacional é o mapeamento das percepções sobre o ambiente interno da organização, como ponto de partida igualmente válido para mudanças e o desenvolvimento organizacional.
            A pesquisa de clima organizacional permite uma  análise sobre as percepções dos trabalhadores que nos trazem informações sobre  a satisfação e comprometimento dos trabalhadores com as tarefas.
            Esses dados nos ajudam a criar estratégias e ações com o objetivo de potencializar as pessoas para alcançar a máxima qualidade e produtividade dos serviços.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/PESQUISA-DE-CLIMA-ORGANIZACIONAL.webp" alt="PESQUISA DE CLIMA ORGANIZACIONAL" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="PESQUISA DE CLIMA ORGANIZACIONAL">
        </div>
    </div>

    <div class="COACHING">
        <h1 class="titulo">DESENVOLVIMENTO DE COMPETÊNCIAS PARA LÍDERES COM A METODOLOGIA COACHING</h1>
        <p class="paragrafo">Quais são as competências adequadas para um líder ?
            <br>
            <br>
            O desafio da liderança está cada vez maior, a dinâmica dos mercados, as necessidades da gestão de pessoal, a interação com vários tipos de gerações ao mesmo tempo, tudo isso requer que o gestor líder tenha cada vez mais competências gerenciais e emocionais que sustentem a unidade da sua equipe e promova o alcance dos resultados esperados.
            <br>
            <br>
            O Coaching é uma metodologia revolucionária !
            <br>
            <br>
            Ele vai te desafiar e através de um novo modelo de pensamento você desenvolverá novas habilidades e comportamentos.
            Hoje o mercado de trabalho busca líderes que além de tomar decisões assertivas, trazem resultados e incentivam as equipes.
            A ZACK possui uma equipe de Coaches Executivos prontos para desenvolver as competencias de gestão dos seus líderes.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/DESENVOLVIMENTO-DE-COMPETENCIAS-PARA-LIDERES-COM-A-METODOLOGIA-COACHING.webp" alt="DESENVOLVIMENTO DE COMPETÊNCIAS PARA LÍDERES COM A METODOLOGIA COACHING" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="DESENVOLVIMENTO DE COMPETÊNCIAS PARA LÍDERES COM A METODOLOGIA COACHING">
        </div>
    </div>

    <div class="COACHING">
        <h1 class="titulo">AVALIAÇÃO DE DESEMPENHO (180° e 360°)</h1>
        <p class="paragrafo">A Avaliação de Desempenho é uma ferramenta muito importante na gestão de pessoas que nos fornece informações sobre o desempenho individual ou de um grupo de colaboradores.
            Através do resultado da avaliação de desempenho a empresa pode criar estratégias de gestão para manter os resultados satisfatórios e modificar os insatisfatórios, dessa maneira aumentando a produtividade e qualidade dos produtos.</p>
        <div class="imagem">
            <img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-308 size-full"
                src="../../../assets/AVALIACAO-DE-DESEMPENHO-180°-e-360°.webp" alt="AVALIAÇÃO DE DESEMPENHO" itemprop="image" height="249"
                width="782"
                sizes="(max-width: 782px) 100vw, 782px" title="AVALIAÇÃO DE DESEMPENHO">
        </div>
    </div>
</div>