<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="comoFunciona">
        <div class="col-md-11 offset-md-1">
            <h1 class="titulo">COMO FUNCIONA?</h1>

                <div class="card mb-3 no-border offset-md-4">
                    <div class="row g-0">
                        <div class="col-md-9">
                            <div class="card-body ">
                                <h5 class="card-title-r">Escolha do profissional</h5>
                                <p class="card-text-r">Escolha do profissional: Navegue pelos perfis dos psicólogos, filtrando por especialização, avaliação, valores e disponibilidade. Leia sobre a abordagem e experiência do profissional no perfil.</p>
                            </div>
                        </div>
                        <div class="col-md-4 conteinerImg">
                            <img src="../../../assets/compromisso.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>

                <div class="card mb-3 no-border">
                    <div class="row g-0">
                        <div class="col-md-4 conteinerImg">
                            <img src="../../../assets/agendamento.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title-l">Agendamento</h5>
                                <p class="card-text-l ">Escolha o horário que melhor se adapta à sua rotina e marque sua consulta, online ou presencial. O agendamento é feito por intermédio da plataforma do Vianet Saúde ou por meio do nosso atendimento personalizado.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 no-border offset-md-6">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title-r">Pagamento</h5>
                                <p class="card-text-r">Escolha a forma de pagamento (cartão de crédito ou débito, pix ou transferência).</p>
                            </div>
                        </div>
                        <div class="col-md-4 conteinerImg">
                            <img src="../../../assets/pagamento.png" class="img-fluid rounded-start" alt="..." style="width: 62.76px;">
                        </div>
                    </div>
                </div>

                <div class="card mb-3 no-border">
                    <div class="row g-0">
                        <div class="col-md-4 conteinerImg">
                            <img src="../../../assets/consulta.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title-l">Consulta</h5>
                                <p class="card-text-l">Pronto, agora é só conectar-se com o seu psicólogo! Todas as informações necessárias serão passadas via email e whatsapp. Você também receberá uma notificação um dia antes da consulta para lembrá-lo do atendimento.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 no-border">
                    <div class="row g-0">
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title-r">Avaliação do profissional</h5>
                                <p class="card-text-r">Após a consulta, avalie a experiência através do formulário de avaliação enviado pelo e-mail, fornecendo feedback sobre o atendimento recebido. Suas avaliações ajudam outros pacientes a escolherem seus profissionais e contribuem para o desenvolvimento contínuo dos psicólogos.</p>
                            </div>
                        </div>
                        <div class="col-md-4 conteinerImg">
                            <img src="../../../assets/avaliacao.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="centralizado">
        <h1 class="titulo">DÚVIDAS? FALE CONOSCO!</h1>
        <button type="button" class="btn saibaMais" (click)='whatsApp("https://wa.me/5561982607070?text=Ol%C3%A1!%0AGostaria%20de%20tirar%20uma%20d%C3%BAvida.")'>Entre em contato <i
            class="bi bi-whatsapp" style="font-size: 21px; color: white; margin-left: 2%;"></i></button>
    </div>