<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="col-md-10 offset-md-1">
    <div class="comoFunciona">
        <h1 class="titulo">Como Funciona?</h1>
        <ul class="lista">
            <li>Cadastro: Crie uma conta gratuita para começar. Complete seu perfil para nos ajudar a entender melhor
                suas necessidades.</li>
            <li>Escolha do profissional: Navegue pelos perfis dos psicólogos, filtrando por especialização, avaliação,
                valores e disponibilidade. Leia sobre a abordagem e experiência do profissional no perfil. Em caso de
                dúvidas, é possível compreender melhor sobre as abordagens no nosso blog!</li>
            <li>Agendamento: Escolha o horário que melhor se adapta à sua rotina e marque sua consulta online.</li>
            <li>Pagamento: Escolha a forma de pagamento (cartão de crédito ou débito, pix ou transferência)</li>
            <li>Consulta: Conecte-se com seu psicólogo através de nossa plataforma.</li>
            <li>Avaliação do profissional: Após a consulta, avalie a experiência, fornecendo feedback sobre o
                atendimento recebido. Suas avaliações ajudam outros pacientes a escolherem seus profissionais e
                contribuem para o desenvolvimento contínuo dos psicólogos.</li>
        </ul>
    </div>
    <div>
        <h1 class="titulo">Psicólogo online funciona?</h1>
        <p>
            Sim, a terapia online funciona! Essa modalidade foi legitimada em 2018 pela Resolução nº 11/2018 do Conselho
            Federal de Psicologia (CFP) e representa uma forma moderna e adaptável de assistência psicológica,
            executada à distância através de dispositivos eletrônicos. A terapia online oferece
            uma maior acessibilidade, conveniência e flexibilidade,
            sem abrir mão dos objetivos fundamentais da terapia presencial.
        </p>
    </div>
    <div>
        <h1 class="titulo">Sobre o Atendimento Online</h1>
    </div>
    <p>

        O atendimento online oferecido em nossa plataforma proporciona uma alternativa acessível e conveniente à terapia
        tradicional presencial. Utilizando tecnologias de comunicação seguras e confidenciais, nossos usuários podem
        agendar
        e realizar sessões de terapia de qualquer lugar, desde que tenham acesso à internet. Importante destacar que
        todos
        os nossos psicólogos são certificados e cadastrados na plataforma e-Psi, um cadastro específico para
        profissionais
        que executam a psicologia de forma online, seguindo rigorosamente as diretrizes éticas e profissionais para
        terapia
        online.
    </p>
</div>