.download{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.li a {
    display: block;
    padding: 0 20px;
    line-height: 45px;
    height: 45px;
    float: left;
    transition: all 0.1s linear;
}

.inputPesquisa{
   margin-top: 2%;
   margin-bottom: 2%;
}

.titulo{
    margin-top: 3%;
    color:#4B67B1;
    font-family: Oswald, sans-serif;
    font-weight: 500;
    text-align: -webkit-center;
  }
  
th:hover{
    cursor: pointer;
    background: #a0a0a7;
}


.btn-success {
  background: #2BC4B6;
}

.btn-warning{
  background: #4B67B1;
  border-color: #09246d;
  color: white;
}

.btn-danger{
  border-color: red;
}

.btnAction{
  width: 90px;
  height: 30px;
  border-radius: 2px;
  justify-content: center;
}
/* Configurações nivel 2*/
.li:hover{
    display: block;
    top: 45px;
    left: 0;
    padding: 5px;
    width: 450px;
	cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Fundo branco transparente */
    z-index: 9999; /* Z-index alto para garantir que fique acima de outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Cor do círculo de carregamento */
    border-top: 4px solid #3498db; /* Cor do círculo de carregamento */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animação de rotação */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .pagination-buttons {
    display: flex;
    justify-content: center;
  }
  
  .pagination-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination-button:hover {
    background-color: #49654E;
  }

  .pagination-button.active {
    background-color: #071f0b;
  }

  .th{
    background: #DBDBF8;
  }

  .status-aprovado {
    color: green;
  }
  
  .status-arquivado {
    color: orange;
  }
  
  .status-excluido {
    color: red;
  }
  
  .status-pendente {
    color: gray;
  }