<div class="body">
    <div>
        <h1 class="titulo">Sobre nós</h1>
    </div>
    <div class="col-md-10 offset-md-1">
        <p class="justificado">A Clínica ZACK – Desenvolvimento Humano e Organizacional foi concebida a partir da larga
            experiência de seu
            fundador, o Psicólogo Clínico e Organizacional Pedro Paulo Záu Vieira, que atua há mais de 10 anos na área
            de saúde mental e com mais de 10 mil atendimentos clínicos na área de desenvolvimento dos comportamentos e
            posturas de pessoas, profissionais e empresas.</p>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <p class="esquerda">Cada vez mais a sociedade se vê impelida à necessidade de refletir sobre seus
                pensamentos, sentimentos e comportamentos na tentativa de ressignificar propósitos, crenças e valores a
                fim de buscar mais eficácia e eficiência em seus relacionamentos intra e inter pessoais, profissionais,
                organizacionais e institucionais.
            </p>
        </div>
        <div class="col-md-3 offset-md-2">
            <img src="../../../assets/Capturar.PNG" class="arrangement" alt="Cinque Terre">
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <img src="../../../assets/medium-shot-woman-holding-laptop 1.png" class="arrangement2" alt="Cinque Terre">
        </div>
        <div class="col-md-5">
            <p class="direita">A Clínica ZACK oferece um amplo portfólio de serviços, ferramentas, testes, técnicas e
                metodologias científicas e aprovadas pelos órgãos regulatórios competentes.
                <br />
                <br />
                Além disso, o seu fundador acompanhando uma tendência global de sistema de trabalho e parceira, trouxe
                para a equipe da Clínica ZACK, profissionais de diversas áreas, que atuam em todas as dimensões da saúde
                mental. Tais profissionais possuem em seus currículos não apenas a competência técnica, mas sobretudo a
                experiência prática de empatia e humanização no atendimento psicológico.
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-10 offset-md-1">
        <p class="justificado">Diante disso, teremos o maior prazer em conhecer a sua necessidade, seja ela a nível
            pessoal, profissional ou organizacional propondo um Plano de Ação focado em alternativas de soluções para o
            efetivo apoio ao seu REAL DESENVOLVIMENTO.</p>
    </div>
    <br />
                    <br />
    <div class="container">
        <div class="retangulo col-md-10 offset-md-1">
            <br />
            <h2 class="tituloRet">Nossos propósitos</h2>
            <br />
            <div class="col-md-6 offset-md-3">
                <p class="textoRet">
                    Promover o  autocuidado em saúde mental 
                    <br />
                    <br />
                    Facilitar o encontro entre clientes e psicólogos
                    <br />
                    <br />
                    Promover capacitações, pós graduação, cursos, ferramentas, supervisão para os psicólogos 
                    <br />
                    <br />
                    Democratizar o acesso à saúde mental a partir de serviços com preço justo
                    <br />
                    <br />
                    Aumentar o alcance de clientes
                    <br />
                    <br />
                    Formar uma comunidade
                    <br />
                    <br />
                    <br />
                    <br />
                </p>
            </div>
        </div>
    </div>
    <div class="row offset-md-1 final">
        <div class="col-md-5">
            <div class="pb-3">
                <h2 class="titulo2">Nossa Missão</h2>
                <p class="textoFinal">Facilitar o acesso a serviços de saúde mental, conectando pacientes com
                    profissionais de psicologia
                    através de uma plataforma segura, acessível e acolhedora.</p>
                <img src="../../../assets/Vector-amarelo.png" class="vetor" alt="Cinque Terre">
            </div>
            <div class="row">
                <div class="pb-3">
                    <h2 class="titulo2">Nossos Valores</h2>
                    <p class="textoFinal">
                        Empatia<br />
                        Confidencialidade<br />
                        Integridade<br />
                        Inovação<br />
                        Acessibilidade<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <div class="offset-md-5 logo">
                <br />
                <br />
                <img src="../../../assets/logo-azul-claro.png" alt="Cinque Terre">
            </div>
            <div class="direita">
                <h2 class="titulo2">Nossa Missão</h2>
                <p class="textoFinalR">Facilitar o acesso a serviços de saúde mental, conectando pacientes com
                    profissionais de psicologia
                    através de uma plataforma segura, acessível e acolhedora.</p>
                <img src="../../../assets/Vector-baixo.png" class="vetor" alt="Cinque Terre">
            </div>

        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
    <br />
        <br />
        <br />
        <br />
</div>