<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
    <div class="background-image-container">
        <img src="../../../assets/pexels-andres-ayrton-6551313 1.png" alt="Cinque Terre">
        <div class="center">
            <p class="titulo-foto">
                DÊ O PRIMEIRO PASSO PARA SE <br />DESTACAR NO MERCADO
            </p>

            <p class="subtitulo-foto">
                Comece sua jornada conosco
            </p>
            <button type="button" (click)="navigate('/agendamento')" class="btn btn-agendamento">Quero Fazer
                Parte!</button>
        </div>
    </div>
    <div class="facaParte">
        <div class="col-md-7 offset-md-1">
            <h2 class="facaParteTitulo">FAÇA PARTE DE UMA EQUIPE DE<br />EXCELÊNCIA EM SAÚDE MENTAL</h2>
            <p class="facaParteTexto">
                Se você é um psicólogo em busca de expandir sua prática, conectar-se com mais pacientes e desenvolver
                sua carreira em um ambiente inovador, você veio ao lugar certo. Na Zack, proporcionamos uma plataforma
                onde sua expertise e dedicação encontram reconhecimento e oportunidades reais de crescimento. Descubra
                como podemos ajudá-lo a alcançar novos patamares profissionais, mantendo flexibilidade e autonomia em
                seu trabalho.
            </p>
            <button type="button" class="btn btnContato mt-2">Entre em Contato <i class="bi bi-caret-right-fill" style="font-size: 20px;
                color: gray;"></i></button>
        </div>
    </div>
    <div class="vantagens">
        <div class="offset-md-1 col-md-11">
            <br />
            <br />
            <h2 class="facaParteTitulo">CONHEÇA AS VANTAGENS:</h2>
            <br />
            <div class="card mb-3 col-lg-8 col-md-10 no-border">
                <div class="row g-0">
                    <div class="col-md-2 d-flex align-items-center">
                        <img src="../../../assets/check.PNG" class="img-fluid rounded-start check" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text"><span style="color: #4B67B1;">Zero mensalidade:</span> Nosso modelo é
                                baseado em comissões justas, sem cobranças de mensalidades fixas. Você paga apenas uma
                                porcentagem por consulta realizada, o que significa que nosso sucesso depende
                                diretamente do seu!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-lg-8 col-md-10 no-border">
                <div class="row g-0">
                    <div class="col-md-2 d-flex align-items-center">
                        <img src="../../../assets/check.PNG" class="img-fluid rounded-start check" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text"><span style="color: #4B67B1;">Ampliação de alcance:</span> Através da
                                Zack, você pode alcançar um número maior de pacientes, expandindo sua prática para além
                                das barreiras geográficas tradicionais. Nossa plataforma de marketing digital
                                intensifica a visibilidade do seu perfil. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-lg-8 col-md-10 no-border">
                <div class="row g-0">
                    <div class="col-md-2 d-flex align-items-center">
                        <img src="../../../assets/check.PNG" class="img-fluid rounded-start check" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text"><span style="color: #4B67B1;">Flexibilidade e Conveniência:</span>
                                Oferecemos total flexibilidade para você gerenciar sua agenda de consultas, seja online
                                ou presencial, particular ou por convênio, permitindo que você trabalhe de acordo com
                                sua disponibilidade e preferências.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <h2 class="facaParteTitulo">COMO FUNCIONA?</h2>
            <div class="card mb-3 col-lg-8 col-md-11 no-border">
                <div class="row g-0">
                    <div class="col-md-2 numero-container">
                        <img src="../../../assets/1.PNG" class="img-fluid rounded-start numero" alt="...">
                        <div class="linha-vertical"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text2"><span style="color: #4B67B1;">Registro na plataforma e escolha a
                                    modalidade de atendimento</span><br />Inscreva-se gratuitamente na plataforma e
                                insira em anexo o seu currículo e histórico acadêmico.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-lg-8 col-md-10 no-border">
                <div class="row g-0">
                    <div class="col-md-2 numero-container">
                        <img src="../../../assets/2.PNG" class="img-fluid rounded-start numero" alt="...">
                        <div class="linha-vertical"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text2"><span style="color: #4B67B1;">Aprovação</span><br />Para mantermos o
                                padrão de qualidade dos atendimentos, é necessário passar por uma etapa de entrevista e
                                seleção com a equipe da Zack.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-lg-8 col-md-10 no-border">
                <div class="row g-0">
                    <div class="col-md-2 numero-container">
                        <img src="../../../assets/3.PNG" class="img-fluid rounded-start numero" alt="...">
                        <div class="linha-vertical"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text2"><span style="color: #4B67B1;">Registro profissional:</span><br />Vamos
                                criar um perfil personalizado que destaque sua especialização, qualificações, valores,
                                formas de pagamento e abordagem terapêutica.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-lg-8 col-md-10 no-border">
                <div class="row g-0">
                    <div class="col-md-2 numero-container">
                        <img src="../../../assets/4.PNG" class="img-fluid rounded-start numero" alt="...">
                        <div class="linha-vertical"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text2"><span style="color: #4B67B1;">Conecte-se com
                                    Pacientes:</span><br />Receba solicitações de consulta e gerencie seu horário de
                                atendimento.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-lg-8 col-md-10 no-border">
                <div class="row g-0">
                    <div class="col-md-2 numero-container">
                        <img src="../../../assets/5.PNG" class="img-fluid rounded-start numero" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text2"><span style="color: #4B67B1;">Crescimento
                                    Profissional:</span><br />Acesse nosso espaço de trocas, participe de programas de
                                capacitação e interaja com outros profissionais.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="plano col-10 offset-1">
            <div class="plano-title">PARTICULAR ONLINE</div>
            <ul class="plano-texto">
                <li>Sem mensalidade</li>
                <li>Exibição do perfil detalhado do psicólogo no site da Clínica Zack</li>
                <li>Sincronização com Google Agenda</li>
                <li>Notificações automáticas para os pacientes (email e whatsapp)</li>
                <li>Acesso à plataforma de gerenciamento de atendimentos (Agendamentos, evolução de prontuários,
                    anexação de documentos, teleconsulta)</li>
                <li>Acesso ao grupo da comunidade de psicólogos da Clínica Zack para partilha de conhecimentos entre
                    profissionais</li>
            </ul>
            <div class="plano-footer">REAPASSE DE 70% DO VALOR DA CONSULTA AO PSICÓLOGO</div>
        </div>
        <div class="plano  col-10 offset-1">
            <div class="plano-title">PARTICULAR PRESENCIAL</div>
            <ul class="plano-texto">
                <li>Sem mensalidade</li>
                <li>Exibição do perfil detalhado do psicólogo no site da Clínica Zack</li>
                <li>Sincronização com Google Agenda</li>
                <li>Notificações automáticas para os pacientes (email e whatsapp)</li>
                <li>Acesso à plataforma de gerenciamento de atendimentos (Agendamentos, evolução de prontuários,
                    anexação de documentos, teleconsulta)</li>
                <li>Acesso ao grupo da comunidade de psicólogos da Clínica Zack para partilha de conhecimentos entre
                    profissionais</li>
                <li>Salas climatizadas, acesso à internet e serviço de limpeza</li>
                <li>Exclusivo para psicólogos residentes de Brasília</li>
                <li>Atendimento Presencial na Clínica Zack</li>
            </ul>
            <div class="plano-footer">REAPASSE DE 65% DO VALOR DA CONSULTA AO PSICÓLOGO</div>
        </div>
        <div class="plano col-10 offset-1">
            <div class="plano-title">CONVÊNIO PRESENCIAL</div>
            <ul class="plano-texto">
                <li>Sem mensalidade</li>
                <li>Exibição do perfil detalhado do psicólogo no site da Clínica Zack</li>
                <li>Sincronização com Google Agenda</li>
                <li>Notificações automáticas para os pacientes (email e whatsapp)</li>
                <li>Acesso à plataforma de gerenciamento de atendimentos (Agendamentos, evolução de prontuários,
                    anexação de documentos, teleconsulta)</li>
                <li>Acesso ao grupo da comunidade de psicólogos da Clínica Zack para partilha de conhecimentos entre
                    profissionais</li>
                <li>Salas climatizadas, acesso à internet e serviço de limpeza</li>
                <li>Exclusivo para psicólogos residentes de Brasília</li>
                <li>Atendimento Presencial na Clínica Zack</li>
                <li>Maior volume de consultas</li>
                <li>Administração de guias de atendimento e faturamento</li>
            </ul>
            <br />
            <div class="plano-footer">REAPASSE DE 60% DO VALOR DA CONSULTA AO PSICÓLOGO</div>
        </div>
    </div>
    <div class="align-items-center">
        <p style="color: #4B67B1; font-family: Rubik; font-size: 24px; font-weight: 300; line-height: 28.44px;">O
            profissional pode escolher uma ou todas as modalidades de atendimento</p>
        <button type="button" (click)="navigate('/agendamento')" class="btn btn-agendamento">Quero Fazer
            Parte!</button>
        <br />
        <br />

    </div>
    <div class="diferenciais">
        <div class="diferenciais-title">NOSSOS DIFERENCIAIS</div>
        <div class="diferencial col-md-9 offset-md-1">
            <div class="diferencial-text-l">
                <h3>SUPERVISÃO COLETIVA COM PREÇO ACESSÍVEL PARA RECÉM FORMADOS</h3>
                <p>A supervisão em psicologia na Clínica Zack é um espaço de suporte teórico, técnico-metodológico e
                    ético-crítico para os psicólogos que atuam com a Terapia Cognitivo Comportamental (TCC), com a
                    intenção de promover o desenvolvimento e aperfeiçoamento contínuo dos profissionais.</p>
            </div>
            <div class="diferencial-img">
                <img src="../../../assets/Mask group.png" alt="Supervisão Coletiva">
            </div>
        </div>
        <div class="diferencial col-md-8 offset-md-2">
            <div class="diferencial-text-r">
                <h3>COMUNIDADE DE PSICÓLOGOS</h3>
                <p>A Clínica Zack promove um espaço virtual dedicado ao suporte mútuo, troca de experiências e
                    disseminação de conhecimento entre os profissionais. Este ambiente colaborativo é essencial para o
                    desenvolvimento contínuo dos profissionais, promovendo respeito, empatia e cooperação em todas as
                    interações.</p>
            </div>
            <div class="diferencial-img">
                <img src="../../../assets/Ellipse 17.png" alt="Comunidade de Psicólogos">
            </div>
        </div>
        <div class="retangulo align-items-center col-md-8 offset-md-2 col-12">
            <div class="diferenciais-title">VENHA FAZER PARTE DA EQUIPE!</div>
            <button type="button" class="btn btnContato mt-2" style="width: 30% !important;">Entre em Contato <i
                    class="bi bi-caret-right-fill" style="font-size: 20px;
                color: gray;"></i></button>
        </div>
    </div>
    <br />
    <br />
    <div>
        <div class="fundoRoxo">
            <div class="col-md-10 offset-md-1 col-12 offset-0">
                <h2 class="titulo2">Dúvidas Frequentes</h2>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" style=" border-radius: 20px 20px 0px 0px;" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true"
                                aria-controls="collapse1">
                                A plataforma é segura?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Sim, a segurança é uma prioridade máxima para nós. Utilizamos tecnologia de criptografia
                                avançada para proteger todas as comunicações e transações na plataforma. Garantimos a
                                confidencialidade e privacidade tanto dos dados pessoais dos pacientes quanto dos
                                profissionais. Além disso, estamos em conformidade com as normas de proteção de dados e
                                privacidade vigentes para assegurar que todas as informações sejam manuseadas de forma
                                segura e responsável.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                Como saber se o paciente agendou uma sessão?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Você receberá uma notificação por e-mail e/ou whatsapp. Além disso, sua agenda no perfil
                                da Saúde Vianet será atualizada automaticamente, mostrando todos os agendamentos
                                confirmados.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Quem define os valores da sessão?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                O profissional tem a liberdade para definir os valores das suas sessões. Incentivamos os
                                psicólogos a estabelecerem preços que reflitam sua experiência, especialização e o valor
                                percebido de seus serviços.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                O que é a taxa de serviço?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A taxa de serviço da plataforma é um valor cobrado dos psicólogos por cada consulta
                                realizada através do nosso sistema. Essa taxa é destinada a cobrir os custos
                                operacionais e de manutenção da plataforma, incluindo o suporte técnico, a segurança das
                                transações, o desenvolvimento de novas funcionalidades e a promoção da plataforma para
                                atrair um público mais amplo. A taxa é calculada como uma porcentagem do valor da
                                consulta.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Como funciona o pagamento das sessões?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A Zack fará o repasse dos valores pagos pelas consultas ao Psicólogo durante o mês em um
                                data previamente determinada, sendo estipulado um dia de corte por parte da Zack. a Zack
                                cobra uma taxa percentual sobre o valor total de cada consulta realizada pelo Psicólogo,
                                sendo assim, o repasse será feito considerando a taxa em questão. Os atendimentos que
                                forem realizados após o dia de corte, serão pagos no 10º dia útil do mês subsequente.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                Como posso me cadastrar para atender pacientes por convênio?
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Fale com a equipe da Zack e avise que gostaria de atender por convênio.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                Como faço para emitir as guias?
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A Secretária que é responsável por emitir as guias. O psicólogo deverá assinar as guias
                                e encaminhar para o paciente.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                Se meu paciente faltou, preciso assinar a guia?
                            </button>
                        </h2>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Sim. Se a consulta for desmarcada dentro de 24h do atendimento, o paciente precisará
                                pagar a sessão e então precisará assinar a guia de qualquer forma.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading9">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                Existem requisitos específicos para atender por convênio?
                            </button>
                        </h2>
                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Sim, cada convênio pode ter seus próprios requisitos para que psicólogos possam oferecer
                                atendimentos. Esses requisitos podem incluir certificações específicas, anos de
                                experiência, entre outros.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                Posso escolher quais convênios aceitar?
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Sim! Você tem total liberdade para selecionar com quais convênios deseja trabalhar.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                Como são feitos os repasses dos convênios?
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Os repasses financeiros são realizados diretamente pela Zack, de acordo com as regras e
                                cronogramas de pagamento de cada convênio. Nossa equipe estará disponível para auxiliar
                                em caso de dúvidas ou necessidade de suporte no processo de faturamento.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                Há limitações no número de atendimentos que posso realizar por convênio?
                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Não impomos limites no número de atendimentos por convênio. No entanto, a plataforma
                                permite apenas 7 atendimentos por dia.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading13">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                Como posso receber suporte se tiver problemas com algum convênio?
                            </button>
                        </h2>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Nossa equipe de suporte está sempre à disposição para ajudar com quaisquer problemas ou
                                dúvidas que possam surgir em relação aos convênios. Seja para questões administrativas
                                ou técnicas, você pode entrar em contato conosco através dos canais de suporte
                                disponibilizados na plataforma.
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading14">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                Tenho que emitir relatórios ou recibos das consultas?
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Os recibos e relatórios das consultas (principalmente para fins de reembolso de planos
                                de saúde que são frequentemente solicitados) serão emitidos pelo psicólogo, mediante
                                pedido de seu paciente.
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>