<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="footer">
    <div class="row">
        <div class="col-md-4">
            <h5>Contatos</h5>
            <p>
                Telefone: (61) 9 8257-3833 <br>
                E-mail: contato&#64;clinicazack.com.br
            </p>
        </div>
        <div class="col-md-4">
            <h5>Endereço</h5>
            <p>
                SRTVS Quadra 701 Bloco O, Sala 466<br>
                Ed. Multi Epresarial - Basilia - DF <br>
                CEP - 70340-000
            </p>
        </div>
    </div>
</div>