.footer {
    background-color: #397C76;
    color: white;
    padding: 30px;
}

.titulo {
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    text-align: left;
    color: #65CFC6;

}

.info {
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    text-align: left;
   
}

a{
    margin-right: 3%;
}

i{
    font-size: x-large;
}