<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="footer">
    <div class="row">
        <div class="col-md-3">
            <h5 class="titulo">CONTATOS</h5>
            <p class="info">
                SRTVS Quadra 701 Bloco O, Sala 466. Ed. Multi Empresarial - Brasilia - DF <br>
                CEP - 70340-000<br>
                <br>
                <a href="https://wa.me/5561982607070?text=Ol%C3%A1%2C+gostaria+de+agendar+uma+consulta." style="color: white; cursor: pointer;"> (61) 98257-3833</a><br><br>
                <a href="mailto: contato@clinicazack.com.br" style="color: white; cursor: pointer;">contato&#64;clinicazack.com.br</a> 
            </p>
        </div>
        <div class="col-md-3 offset-md-2">
            <h5 class="titulo">PÁGINA</h5>
            <a href="/duvidas-frequentes" style="color: white; cursor: pointer;"> Perguntas Frequentes</a><br>
            <a href="https://wa.me/5561982607070?text=Ol%C3%A1%2C+gostaria+de+agendar+uma+consulta." style="color: white; cursor: pointer;"> Agendar Consulta</a><br>
            <a href="/sou-psicologo" style="color: white; cursor: pointer;"> Cadastro do Psicólogo</a><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5 class="titulo">REDES SOCIAIS</h5>
            <div>
                <a href="" target="_blank" style="color: white; cursor: pointer;"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/zack_desenvolvimento/"  target="_blank" style="color: white; cursor: pointer;"><i class="bi bi-instagram"></i></a> 
                <a href="https://wa.me/5561982607070?text=Ol%C3%A1%2C+gostaria+de+agendar+uma+consulta." target="_blank" style="color: white; cursor: pointer;"><i class="bi bi-whatsapp"></i></a> 
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <h5 class="titulo">TERMOS</h5>
            <a href="/termos-uso" style="color: white; cursor: pointer;"> Termos de Uso</a><br>
            <a href="/politica-privacidade" style="color: white; cursor: pointer;"> Política de Privacidade</a><br>
        </div>
        <div class="col-md-3 offset-md-1">
            <a href="/home">
                <img src="../../../assets/logo-branca.png"  class="logo-branca" alt="Cinque Terre">
            </a>
        </div>
    </div>
</div>