<div class="fundoVerde">
    <br />
    <div class="card-group vgr-cards" style="margin-left: 5%; margin-right: 5%;">
        <div class="card" style="background: #75C6BE;">
            <div class="col-md-8">
                <div class="row">
                    <div class="card-img-body d-md-flex flex-md-column" style="margin-top: 2%;">
                        <img class="img-thumbnail" style="border-radius: 30px;"
                            [src]="perfil.selectedFileDataUrl" alt="Card image cap">
                    </div>
                    <div class="card-body card-img-body d-md-flex flex-md-column" style="margin-top: 2%;">
                        <div class="row">
                            <div class="col-md-9">
                                <h4 class="card-title nomePsicologo">{{perfil.nome}}</h4>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-secondary" disabled>R$
                                    {{perfil.valorConsulta}}</button>
                            </div>
                        </div>
                        <h6 class="crp">CRP {{perfil.crp}}</h6>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <ng-container
                                        *ngFor="let especialidade of perfil.especialidades?.slice(0, 4); let i = index">
                                        <div class="p-2">
                                            <button type="button" class="btn btn-light" disabled>{{
                                                especialidade.nome }}</button>
                                        </div>
                                    </ng-container>
                                    <div *ngIf="perfil.mostrarTodasEspecialidades" class="d-flex flex-wrap">
                                        <ng-container *ngFor="let especialidade of perfil.especialidades?.slice(4)">
                                          <div class="p-2">
                                            <button type="button" class="btn btn-light" disabled>{{ especialidade.nome }}</button>
                                          </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div *ngIf="perfil.especialidades != null && perfil.especialidades.length > 4" class="mt-2">
                                    <a type="button" class="btn btn-link" (click)="perfil.mostrarTodasEspecialidades = !perfil.mostrarTodasEspecialidades">
                                      {{ perfil.mostrarTodasEspecialidades ? 'Mostrar menos' : 'Mostrar mais' }}
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sobre">
                        <h5 class="sobrePsicologo">Sobre o Psicólogo</h5>
                        <p class="textoSobre">
                            {{perfil.sobreMim}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="sobre">
                        <h5 class="sobrePsicologo">Formações e Cursos</h5>
                        <p class="textoSobre">
                            {{perfil.formacaoECursos}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="sobre">
                        <h5 class="sobrePsicologo">Pagamento</h5>
                            <button *ngIf="perfil.pix" type="button" class="btn btn-light me-3 btn-pagamento" disabled><fa-icon [icon]="['fab', 'pix']" class="me-1"></fa-icon>PIX</button>
                            <button *ngIf="perfil.cartao" type="button" class="btn btn-light me-3 btn-pagamento" disabled><fa-icon [icon]="['far', 'credit-card']" class="me-1"></fa-icon>CARTÃO</button>
                            <button *ngIf="perfil.transferencia" type="button" class="btn btn-light me-3 btn-pagamento" disabled><fa-icon [icon]="['fas', 'money-bill']" class="me-1"></fa-icon>TRANSFERÊNCIA</button>
                    </div>
                </div>
                <div class="row">
                    <div class="sobre">
                        <h5 class="sobrePsicologo">Duração da Consulta</h5>
                            <button type="button" class="btn btn-light me-3 btn-pagamento" disabled>50 min</button>
                    </div>
                </div>
                <div class="row">
                    <div class="sobre">
                        <h5 class="sobrePsicologo">Atende</h5>
                            <button *ngIf="perfil.atendeCrianca" type="button" class="btn btn-light me-3 btn-pagamento" disabled>Crianças</button>
                            <button *ngIf="perfil.atendeAdolescente" type="button" class="btn btn-light me-3 btn-pagamento" disabled>Adolescentes</button>
                            <button *ngIf="perfil.atendeAdulto" type="button" class="btn btn-light me-3 btn-pagamento" disabled>Adultos</button>
                            <button *ngIf="perfil.atendeIdoso" type="button" class="btn btn-light me-3 btn-pagamento" disabled>Idosos</button>
                            <button *ngIf="perfil.atendeCasais" type="button" class="btn btn-light me-3 btn-pagamento" disabled>Casais</button>
                            <br/>
                            <br/>
                            <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 fundoBranco d-md-flex flex-md-column justify-content-center align-items-center">
                <div class="mb-3 row col-md-12" style="margin-top: 4%;">
                    <button class="fundoRoxo d-flex align-items-center justify-content-between flex-fill"
                        style="height: 100%;" (click)='whatsApp("https://wa.me/5561982607070?text=Ol%C3%A1%2C+gostaria+de+tirar+uma+duvida.")'>
                        <div class="d-flex align-items-center">
                            <div class="circle" style="margin-right: 1rem;">
                                <i class="bi bi-whatsapp icon"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center flex-grow-1">
                            <h6 class="textoRoxo mb-0">Dúvidas? Fale Conosco</h6>
                            <p class="subtexto mb-0">Enviar Mensagem No Whatsapp</p>
                        </div>
                    </button>
                </div>
                <div class="mb-3 row col-md-12" *ngIf="perfil.linkAtendimento != null">
                    <button class="fundoRoxo d-flex align-items-center justify-content-between flex-fill"
                        style="height: 100%;" (click)="whatsApp(perfil.linkAtendimento)">
                        <div class="d-flex align-items-center">
                            <div class="circle me-2">
                                <i class="bi bi-globe icon"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center flex-grow-1">
                            <h6 class="textoRoxo mb-0">Agende Sua Consulta Online</h6>
                            <p class="subtexto mb-0" >Agendar Agora</p>
                        </div>
                    </button>
                </div>
                <div class="mb-3 row col-md-12">
                    <button class="fundoRoxo d-flex align-items-center justify-content-between flex-fill"
                        style="height: 100%;" (click)='whatsApp("https://wa.me/5561982607070?text=Ol%C3%A1%2C+gostaria+de+agendar+uma+consulta.")'>
                        <div class="d-flex align-items-center">
                            <div class="circle me-2">
                                <i class="bi bi-geo-alt icon"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center flex-grow-1">
                            <h6 class="textoRoxo mb-0">Agende Sua Consulta Presencial</h6>
                            <p class="subtexto mb-0">Agendar Agora</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>