<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="background-image-container">
    <img src="../../../assets/home-papel.jpg" alt="Cinque Terre">
    <div class="center">
        <p>Encontre o Profissional mais<br>
            adequado para você.</p>
        <button type="button" class="btn btn-outline-light">Agende Agora</button>
    </div>
</div>
<div class="col-md-10 offset-md-1">
    <div class="comoFunciona">
        <h1 class="titulo">Como Funciona a consulta online</h1>
        <p class="paragrafo">Desde 2018 o <a style="color: #49654e; text-decoration: none;"
                href="https://atosoficiais.com.br/cfp/resolucao-do-exercicio-profissional-n-11-2018-regulamenta-a-prestacao-de-servicos-psicologicos-realizados-por-meios-de-tecnologias-da-informacao-e-da-comunicacao-e-revoga-a-resolucao-cfp-no-11-2012?origin=instituicao&q=11/2018">Conselho
                Federal de Psicologia</a> permite a realização de atendimento remoto. Assim como as sessões
            presenciais, no modelo online o profissional deve se guiar pelo Código de Ética Profissional.
            Crianças e adolescentes podem ser atendidos mediante a autorização dos responsáveis legais.
            Os atendimentos são feitos através de vídeo-consultas e podem contar com o apoio de e-mails e outras
            ferramentas de troca de mensagens.</p>
    </div>

    <div class="linha"></div>

    <div class="card-group">
        <div class="card">
            <i class="bi bi-search"></i>
            <div class="card-body">
                <h5 class="card-title">Pesquise</h5>
                <p class="card-text">Encontre o melhor profissinal para você.
                    São dezenas de Profissionais selecionados
                    para melhor atende-lo.</p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-calendar3"></i>
            <div class="card-body">
                <h5 class="card-title">Agendamento</h5>
                <p class="card-text">Agende pelo site e escolha a forma de pagamento (cartão de crédito, Pix ou
                    transferência) e o formato da consulta (Google Meet ou Presencial).</p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-card-checklist"></i>
            <div class="card-body">
                <h5 class="card-title">Compromisso</h5>
                <p class="card-text">Se você não ficar satisfeito(a) com a sua consulta, nós concederemos uma nova
                    consulta gratuita com outro psicólogo(a)(exemplo).</p>
            </div>
        </div>
    </div>

    <div class="linha"></div>

    <div class="perguntasFrequentes row" id="perguntasFrequentes">

        <h1 class="titulo">Perguntas Frequentes</h1>
        <div class="col-md-5 offset-md-1">
            <h2 class="sub-titulo">Paciente</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                            the collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="sub-titulo">Psicólogo</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                            the collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="linha"></div>

    <div class="comoFunciona" id="sobre">
        <h1 class="titulo">Sobre nós</h1>
        <p class="paragrafo">Bem-vindos à Zack, a plataforma onde a sua jornada de saúde mental inicia com apenas um clique! Nossa missão é simplificar o acesso a cuidados psicológicos, conectando você a psicólogos qualificados e dedicados a proporcionar um suporte personalizado e eficaz, tudo isso no conforto e privacidade do seu lar ou presencialmente na nossa clínica.</p>
        <p class="paragrafo">Nos dedicamos a promover o bem-estar mental por meio de uma abordagem acessível e personalizada. Zack é um espaço seguro e confiável para todos aqueles em busca de apoio psicológico a um custo acessível. Aqui, pacientes podem superar os desafios da vida com o suporte necessário.</p>
        <p class="paragrafo">Oferecemos um ambiente seguro e acolhedor para o crescimento pessoal, aprendizado e autocuidado. Junte-se a nós nesta missão de democratizar o acesso à saúde mental e construir um futuro onde o bem-estar é uma prioridade para todos! </p>
        <button type="button" class="btn btn-outline-secondary" (click)="navigate('/como-funciona')">Saiba Mais</button>
    </div>
</div>