<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="loading-overlay" *ngIf="!isDataLoaded">
    <div class="loader"></div>
</div>
<div class="body">
    <div class="background-image-container">
        <img src="../../../assets/woman-with-hands-together-talking-with-counselor 1.png" alt="Cinque Terre">
        <div class="center col-md-11 offset-md-1">
            <p class="titulo-foto">
               CONEXÕES QUE TRANSFORMAM:
            </p>
            
            <p class="subtitulo-foto">
                ENCONTRE O SEU PSICÓLOGO QUALIFICADO
            </p>
            <button type="button" (click)="navigate('/agendamento')" class="btn btn-agendamento">Agende sua consulta</button>
        </div>
    </div>
    <app-lista-psicologos (dataLoaded)="onDataLoaded($event)"></app-lista-psicologos>
    <div class="justify-content-center">
        <div class="card-group">
            <div class="row row-cols-md-3 col-md-10 celular">
                <div class="col">
                    <div class="card">
                        <img src="../../../assets/pesquise.png" alt="Pesquise" class="imagem-pesquise" />
                        <div class="card-body">
                            <h5 class="card-title">Pesquise</h5>
                            <p class="card-text">
                                Encontre o melhor profissinal para você. São diversos profissionais selecionadospara melhor atende-lo
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../../assets/agendamento.png" alt="Agendamento" class="imagem-agendamento" />
                        <div class="card-body">
                            <h5 class="card-title">Agendamento</h5>
                            <p class="card-text">Agende pelo site e escolha a forma de pagamento (cartão de crédito, Pix ou transferência) e o formato da consulta Online ou Presencial.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../../assets/compromisso.png" alt="Compromisso" class="imagem-compromisso" />
                        <div class="card-body">
                            <h5 class="card-title">Suporte ao Psicólogo</h5>
                            <p class="card-text">
                                Se junte a nossa equipe de psicólogos e tenha o suporte necessário para  elevar sua carreira.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="sobreNos" id="sobre">
        <div class="row col-md-12">
            <img src="../../../assets/Vector3.png" class="vetor-cima2" alt="Cinque Terre">
        </div>
        <div class="row">
            <div class="col-md-7 offset-md-1">
                <h1 class="titulo2">Sobre nós</h1>
                <p class="paragrafo">Bem-vindos à Zack, a plataforma onde sua jornada de saúde mental começa com apenas um clique! Nossa missão é facilitar o acesso a cuidados psicológicos, conectando você a psicólogos qualificados e dedicados, que oferecem suporte personalizado e eficaz, tudo isso no conforto e privacidade do seu lar ou presencialmente na nossa clínica.</p>
                <p class="paragrafo">Estamos comprometidos em promover o bem-estar através de uma abordagem acessível e personalizada. Além disso, a Zack oferece uma diversidade de serviços, tal como soluções em psicologia organizacional, que visam enriquecer a qualidade de vida nos ambientes de trabalho. </p>
                <p class="paragrafo">
                    Junte-se a nós nesta missão de democratizar o acesso à saúde mental e construir um futuro onde a saúde mental é uma prioridade para todos!</p><br>
                <button type="button" class="btn saibaMais" (click)="navigate('/como-funciona')">Saiba Mais <i
                        class="bi bi-play" style="font-size: 21px;
                color: gray;"></i></button>
            </div>
            <div class="col-md-1 offset-md-2" style="align-items: flex-end">
                <div>
                    <img src="../../../assets/logo-laranja.png" class="logo-laranja1" alt="Cinque Terre">
                </div>

                <div class="">
                    <img src="../../../assets/logo-verde.png" class="logo-verde" alt="Cinque Terre">
                </div>
                <div class="">
                    <img src="../../../assets/logo-azul.png" class="logo-azul" alt="Cinque Terre">
                </div>
                <div class="">
                    <img src="../../../assets/logo-laranja.png" class="logo-laranja2" alt="Cinque Terre">
                </div>
            </div>
        </div>

        <div class="row col-md-12 offset-md-8">
            <img src="../../../assets/Vector4.png" class="vetor-baixo2" alt="Cinque Terre">
        </div>
    </div>
</div>