<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
    <div class="background-image-container">
        <img src="../../../assets/side-view-man-having-online-video-call-with-coworkers 1.png" alt="Cinque Terre">
        <div class="center col-md-10 offset-md-1">
            <h1 class="titulo-foto">
                ATENDIMENTO ONLINE
            </h1>
        </div>
    </div>
    <div class="comoFunciona">
        <div class="texto-como-funciona col-md-5 offset-md-1">
            <img src="../../../assets/Vector.png" class="vetor-cima" alt="Cinque Terre">

            <h2 class="titulo">Como Funciona a consulta online?</h2>
            <p class="paragrafo" style="width: 85%;">Desde 2018 o <a style="color: #4B67B1; text-decoration: none;"
                    href="https://atosoficiais.com.br/cfp/resolucao-do-exercicio-profissional-n-11-2018-regulamenta-a-prestacao-de-servicos-psicologicos-realizados-por-meios-de-tecnologias-da-informacao-e-da-comunicacao-e-revoga-a-resolucao-cfp-no-11-2012?origin=instituicao&q=11/2018">Conselho
                    Federal de Psicologia</a> permite a realização de atendimento remoto. Assim como as sessões
                presenciais, no modelo online o profissional deve se guiar pelo Código de Ética Profissional.<br>
                <br>
                Crianças e adolescentes podem ser atendidos mediante a autorização dos responsáveis legais.<br>
                <br>
                Os atendimentos são feitos através de vídeo-consultas e podem contar com o apoio de e-mails e outras
                ferramentas de troca de mensagens.
            </p>
        </div>
        <div class="imagens-como-funciona col-md-5">
            <img src="../../../assets/expressive-young-woman-posing.png" class="imagem-mulher" alt="Cinque Terre">
            <img src="../../../assets/Vector-baixo.png" class="vetor-baixo" alt="Cinque Terre">
        </div>
    </div>
</div>
<div class="offset-md-1 col-md-10">
    <h1 class="titulo2">PSICÓLOGO ONLINE FUNCIONA?</h1>
    <div class="card mb-10 offset-md-1">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/psicologiaonlinefunciona.png" class="img-fluid rounded-start" alt="psicologiaonlinefunciona">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="descricao" style="padding: 0%; text-align: left;">Sim, a terapia online funciona! Essa modalidade foi legitimada em 2018 pela Resolução nº 11/2018 do Conselho Federal de Psicologia (CFP) e representa uma forma moderna e adaptável de assistência psicológica, executada à distância através de dispositivos eletrônicos. A terapia online oferece uma maior acessibilidade, conveniência e flexibilidade, sem abrir mão dos objetivos fundamentais da terapia presencial.</p>
              <button type="button" class="btn saibaMais" style="margin-top: 3%;" href="/agendamento">Agende Agora <i class="bi bi-caret-right-fill" style="font-size: 20px;
                color: gray;"></i></button>
            </div>
          </div>
        </div>
      </div>
</div>
<div>
    <div>
        <h1 class="titulo2">SOBRE O ATENDIMENTO ONLINE</h1>
        <p class="descricao col-md-10 offset-md-1">
            O atendimento online oferecido em nossa plataforma proporciona uma alternativa acessível e conveniente à
            terapia tradicional presencial. Utilizando tecnologias de comunicação seguras e confidenciais, nossos
            usuários podem agendar e realizar sessões de terapia de qualquer lugar, desde que tenham acesso à internet.
            Importante destacar que todos os nossos psicólogos são certificados e cadastrados na plataforma e-Psi, um
            cadastro específico para profissionais que executam a psicologia de forma online, seguindo rigorosamente as
            diretrizes éticas e profissionais para terapia online.
            <br />
            <br />
            <br />
            <br />
        </p>
    </div>
</div>