<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="loading-overlay" *ngIf="carregando">
  <div class="loader"></div>
</div>
<app-btn-voltar-menu></app-btn-voltar-menu>
<div class="col-md-10 offset-md-1">
  <h1>CADASTRO DE PSICÓLOGOS</h1>
  <form (ngSubmit)="onSubmit()" #perfilForm="ngForm" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-2 d-flex align-items-center" style="position: relative;">
        <div class="form-group" style="position: relative; z-index: 1;">
          <input type="file" id="photo" (change)="onFileSelected($event)" accept="image/*" style="display: none">
          <button type="button" *ngIf="!selectedFileDataUrl" (click)="selectPhoto()" class="btn btn-primary"
            style="margin-bottom: 10px;">Selecionar Foto</button>
        </div>
        <img *ngIf="selectedFileDataUrl" [src]="selectedFileDataUrl" alt="Imagem selecionada" class="preview-image"
          style="max-width: 100%; max-height: 100%;">
        <button *ngIf="selectedFileDataUrl" type="button" class="btn btn-danger btn-remove-image" (click)="removePhoto()"
          style="position: absolute;"><i class="bi bi-x" style="background-color: white;"></i></button>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control form-control-md input" [(ngModel)]="perfil.nome" name="nome"
              required>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-5">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" class="form-control form-control-md input" [(ngModel)]="perfil.sobrenome"
              name="sobrenome" required>
          </div>
        </div>
      </div>
    </div>
    <div>
      <label for="linkAtendimentoOnline">Link Atendimento Online:</label>
      <input type="text" class="form-control form-control-md input" [(ngModel)]="perfil.linkAtendimentoOnline"
        name="linkAtendimentoOnline">
    </div>
    <div class="row">
      <div class="col">
        <label for="sexo">Sexo:</label>
        <select class="form-control form-control-md input" [(ngModel)]="perfil.sexo" name="sexo">
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
        </select>
      </div>
      <div class="col">
        <label for="crp">CRP:</label>
        <input type="text" class="form-control form-control-md input" [(ngModel)]="perfil.crp" name="crp" required>
      </div>

      <div class="col">
        <label for="valorConsulta">Valor da Consulta:</label>
        <div class="input-group mb-3">
          <span class="input-group-text">R$</span>
          <input type="number" class="form-control" [(ngModel)]="perfil.valorConsulta" name="valorConsulta"
            aria-label="Amount (to the nearest dollar)" required>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h2>Atendimentos</h2>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="perfil.atendeCrianca" name="atendeCrianca" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Crianças
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="flexCheckDefault" [(ngModel)]="perfil.atendeAdolescente" name="atendeAdolescente">
              <label class="form-check-label" for="flexCheckDefault">
                Adolescentes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"   id="flexCheckDefault" [(ngModel)]="perfil.atendeAdulto" name="atendeAdulto">
              <label class="form-check-label" for="flexCheckDefault">
                Adultos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="flexCheckDefault" [(ngModel)]="perfil.atendeIdoso" name="atendeIdoso">
              <label class="form-check-label" for="flexCheckDefault">
                Idosos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="flexCheckDefault" [(ngModel)]="perfil.atendeCasais" name="atendeCasais">
              <label class="form-check-label" for="flexCheckDefault">
                Casais
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <h2>Pagamentos</h2>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="flexCheckDefault" [(ngModel)]="perfil.cartao" name="cartao">
              <label class="form-check-label" for="flexCheckDefault">
               Cartões Débito/Crédito
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="flexCheckDefault" [(ngModel)]="perfil.pix" name="pix">
              <label class="form-check-label" for="flexCheckDefault">
                Pix
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="flexCheckDefault" [(ngModel)]="perfil.transferencia" name="transferência">
              <label class="form-check-label" for="flexCheckDefault">
                Transferência
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <h2>Consultas</h2>
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="flexCheckDefault" [(ngModel)]="perfil.atendeParticular" name="particular">
              <label class="form-check-label" for="flexCheckDefault">
                Particular
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flexCheckDefault" [(ngModel)]="perfil.atendePlano" name="plano">
              <label class="form-check-label" for="flexCheckDefault">
               Convênio
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h2 style="text-align: center;">Tipos de Abordagem</h2>
      <ng-multiselect-dropdown [placeholder]="'Abordagem Terapêutica'"
        id="multiAbordagem"
        [settings]="dropdownSettingsAbordagem" 
        [data]="tiposAbordagem"
        [(ngModel)]="perfil.tiposAbordagem"
         name="abordagem">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-md-12">
      <h2 style="text-align: center;">Especialidades</h2>
      <ng-multiselect-dropdown [placeholder]="'Especialidades'"
        id="multiEspecialidades"
        [settings]="dropdownSettingsEspecialidades" 
        [data]="especialidades"
        [(ngModel)]="perfil.especialidades"
         name="especialidades">
      </ng-multiselect-dropdown>
    </div>
    <div>
      <label for="formacaoECursos">Formação e Cursos:</label>
      <textarea class="form-control form-control-md input" [(ngModel)]="perfil.formacaoECursos" style="height: 150px;"
        name="formacaoECursos" maxlength="2000"></textarea>
    </div>
    <div>
      <label for="sobreMim">Sobre mim:</label>
      <textarea class="form-control form-control-md input" [(ngModel)]="perfil.sobreMim" name="sobreMim" style="height: 150px;" maxlength="2000"></textarea>
    </div>
    <div>
      <label for="sobreMim">Breve descrição(Um resumo do "Sobre mim"):</label>
      <textarea class="form-control form-control-md input" [(ngModel)]="perfil.breveDescricao" name="breveDescricao" style="height: 50px;" maxlength="150"></textarea>
    </div>
    <div class="col-md-12 d-flex justify-content-end botoes-pesquisa">
      <button type="button" class="btn btn-labeled btn-secondary me-2" (click)="limparForm()">
          <span class="btn-label"><i class="bi bi-trash"></i></span> Limpar Dados
      </button>
      <button type="submit" class="btn btn-labeled btn-primary">
          <span class="btn-label"><i class="bi bi-floppy"></i></span> Salvar Dados
      </button>
  </div>
  </form>
</div>