<div>
    <div>
        <h1 class="titulo">Dúvidas Frequentes</h1>
    </div>
    <div class="fundoVerde">
        <div class="col-md-10 offset-md-1">
            <h2 class="titulo2">Pacientes</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button" style=" border-radius: 20px 20px 0px 0px;" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                            O que um psicólogo faz?
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Um psicólogo é um profissional de saúde mental capacitado para compreender o comportamento
                            humano, ajudando indivíduos a lidar com emoções, pensamentos e comportamentos de maneira
                            saudável.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            Quem faz parte da equipe?
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Nossa equipe é composta por psicólogos credenciados e licenciados pelo CRP com
                            diferentes especializações e experiências. Todos passam por um processo de
                            seleção para garantir que possuam as qualificações necessárias. Além disso, nossa
                            equipe inclui técnicos e profissionais de suporte ao cliente que trabalham para
                            garantir que a plataforma funcione de forma eficiente, proporcionando uma
                            experiência segura e acolhedora para todos os usuários.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            Como escolho o psicólogo certo para mim?
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Escolher o psicólogo certo é fundamental para uma experiência terapêutica eficaz.
                            Sugerimos considerar os seguintes aspectos: especialização, abordagem, avaliação
                            e feedbacks, valores e disponibilidade.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            O que faço se precisar cancelar ou reagendar uma sessão?
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Se precisar cancelar ou reagendar uma sessão, você pode fazê-lo diretamente pela
                            plataforma com antecedência mínima de 24h definida nos Termos de Uso. Pedimos
                            que faça isso com a maior antecedência possível para evitar inconvenientes para o
                            profissional.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Como é realizado o pagamento?
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            O pagamento das consultas é realizado de forma segura e conveniente através da
                            plataforma da Saúde Vianet. Após agendar sua sessão, você será direcionado para
                            a página de pagamento, onde poderá escolher entre várias formas de pagamento,
                            incluindo cartão de crédito, débito, pix ou transferência bancária.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            Como posso saber se meu plano de saúde cobre atendimento psicológico?
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            A cobertura de atendimento psicológico varia conforme o plano. Recomendamos
                            verificar diretamente com seu convênio sobre a cobertura de serviços de psicologia.
                            Além disso, nossa equipe está à disposição para ajudá-lo a entender os detalhes de
                            sua cobertura.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            Como faço para agendar uma consulta usando meu convênio?
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Para agendar uma consulta utilizando seu convênio, primeiramente verifique através
                            do nosso site os profissionais que aceitam o seu plano de saúde. Em seguida, você
                            pode entrar em contato com nossa equipe de suporte, que estará pronta para
                            auxiliá-lo no processo.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            Quais são os benefícios de fazer psicoterapia?
                        </button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Não podemos garantir nenhum tipo de cura no processo terapêutico, mas a terapia
                            pode trazer diversos benefícios para a pessoa, tais como: autoconhecimento,
                            desenvolvimento de habilidades e de métodos de enfrentamento, resolução de
                            problemas, alívio de sintomas, melhora na qualidade de vida e fortalecimento
                            emocional.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading9">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            Como funciona a sessão de psicoterapia?
                        </button>
                    </h2>
                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            A psicoterapia pode ser realizada de forma individual ou em grupos. As consultas
                            costumam acontecer uma vez por semana ou quinzenalmente e duram em média 50
                            minutos.<br />
                            As primeiras sessões têm como objetivo conhecer o paciente, explorar os motivos
                            que o levaram para a terapia e realizar uma avaliação sobre a situação atual em que
                            a pessoa se encontra. Nas sessões seguintes, o foco passa a ser as questões
                            abordadas pelo paciente, conforme suas demandas ou, a depender da abordagem,
                            é feito um plano terapêutico que é seguido pelo profissional e que o guia em seu
                            trabalho
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading10">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            Como saber se a minha sessão foi agendada?
                        </button>
                    </h2>
                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Depois que o sistema localizar o pagamento da consulta, uma mensagem é
                            automaticamente enviada para o seu email confirmando o agendamento. A
                            plataforma também permite que o agendamento seja registrado diretamente no seu
                            Google Agendas, como forma de lembrete.<br />
                            Além disso, é possível entrar com seu login e senha no site da Zack e verificar o seu
                            agendamento.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading11">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            Como solicitar o recibo/nota fiscal para reembolso da consulta ou declaração de IR?
                        </button>
                    </h2>
                    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            O psicólogo que te atenderá é o responsável pela emissão de recibo/nota fiscal.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading12">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                            Qual o valor da consulta?
                        </button>
                    </h2>
                    <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Os valores das consultas podem variar de psicólogo para psicólogo e você poderá
                            filtrar essas informações na hora de escolher o profissional que deseja.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading13">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                            Não me identifiquei com o meu psicólogo, posso trocar?
                        </button>
                    </h2>
                    <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Sim. Você tem a opção de conhecer e agendar a sessão com outros profissionais.
                            Em casos de má conduta do profissional, basta enviar um e-mail que a Zack entrará
                            em contato para resolver o seu problema.
                        </div>
                    </div>
                </div>
                <br />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading14">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                            Quais convênios são aceitos?
                        </button>
                    </h2>
                    <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Trabalhamos com uma ampla gama de convênios e planos de saúde. Para verificar
                            se o seu convênio é aceito, acesse a seção "Convênios" em nosso site ou entre em
                            contato conosco diretamente.

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>