.titulo {
  margin-top: 8%;
  margin-bottom: 5%;
  color: #4B67B1;
  font-family: Oswald;
  font-size: 80px;
  text-align: -webkit-center;
  font-weight: bolder;
}

.fundoVerde {
  background: #87E2DA5E;
}

.titulo2 {
  font-family: Oswald;
  font-size: 65px;
  font-weight: 500;
  line-height: 94.14px;
  color: #1DB0A3;
}

.accordion-item,
.accordion-header {
  border-radius: 30px;
  background: #FFFDFDDB;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 300;
  text-align: left;

}

.accordion-button {
  border-radius: 20px 20px 0px 0px;
  font-family: Rubik;
  font-size: 23px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #000000;
}