<div class="col-md-10 offset-md-1">
    <div class="comoERealizado">
        <h1 class="titulo">COMO É REALIZADO O PROCESSO DE ORIENTAÇÃO VOCACIONAL NA ZACK?</h1>
        <p class="paragrafo">O processo de Orientação Vocacional ocorre em um período de aproximadamente seis sessões de
            1h30, com as seguintes etapas:​
            <br>
            <br>
            1) Entrevista Biopsicossocial para coletar todas as informações acerca do período escolar, familiar e social
            do orientando.
            <br>
            <br>
            2) Inicia-se a bateria de testes nas seguintes áreas:
            <br>
            <br>
            a) Inteligência Não-Verbal (1 teste)<br>
            b) Raciocínio (5 testes)<br>
            c) Maturidade da escolha profissional (1 teste)<br>
            d) Aptidões profissionais (5 testes)<br>
            e) Personalidade (3 testes)
            <br>
            <br>
            3) Ao final, todos os resultados são correlacionados e é apresentado ao orientando três opções de cursos de
            acordo com a sua vocação.
        </p>
    </div>

    <div class="servicoOrientacaoVocacional">
        <h1 class="titulo">POR QUE SAI MAIS BARATO CONTRATAR UM SERVIÇO DE ORIENTAÇÃO VOCACIONAL?</h1>
        <p class="paragrafo">1) ECONOMIA DE TEMPO – Você não precisa passar anos da sua vida fazendo um curso superior
            com o qual não se identifica e desistir ou fazer outro curso que tenha mais a ver com a sua vocação.
            <br>
            <br>
            2) ECONOMIA DE DINHEIRO – Você não correrá o risco de pagar mensalidades da faculdade, xerox, livros,
            gasolina, alimentação e etc., para depois descobrir que aquele investimento não teve o retorno profissional
            esperado.​
            <br>
            <br>
            3) RELAÇÃO CUSTO-BENEFÍCIO – Ao comparar o investimento de um processo de orientação vocacional ao que
            gastará nos itens 1 e 2, concluirá que é bem menor, seguro e eficiente.
            <br>
            <br>
            Não perca tempo, INVISTA EM VOCÊ !!!!
        </p>
        <br>
    </div>

    <div class="quemPode">
        <h1 class="titulo">QUEM PODE FAZER UMA ORIENTAÇÃO VOCACIONAL?</h1>
        <br>
        <br>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ALUNOS ENSINO MÉDIO</h5>
                    </div>
                    <img src="../../../assets/img-aluno-esino-medio.webp" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">UNIVERSITÁRIOS (MUDANÇA DE CURSO)</h5>
                    </div>
                    <img src="../../../assets/UNIVERSITARIOS-MUDANCA-DE-CURSO.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">APOSENTADOS</h5>
                    </div>
                    <img src="../../../assets/APOSENTADOS.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">REORIENTAÇÃO PROFISSIONAL</h5>
                    </div>
                    <img src="../../../assets/REORIENTACAO-PROFISSIONAL-1.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>